/* Login */

.login {
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  top: 0%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #999999;
  background: -moz-radial-gradient(center, ellipse cover, #f3f1f1 0%, #f8fafa 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #f3f1f1 0%, #f8fafa 100%);
  background: radial-gradient(ellipse at center, #f3f1f1 0%, #f8fafa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@cor-r', endColorstr='@cor-q', GradientType=1);
}

.login .btn-login {
  -webkit-box-shadow: 7px 7px 0px 0px #222222;
  -moz-box-shadow: 7px 7px 0px 0px #222222;
  box-shadow: 7px 7px 0px 0px #222222;
  background-color: #00a65a !important;
  border-color: #00a65a !important;
  font-weight: bold;
}

.login .btn-login:active {
  color: #fff;
  background-color: #222222 !important;
  border-color: #999999 !important;
  box-shadow: 0 0 0 0.2rem #222222;
}

.login .btn-login:hover {
  color: #fff !important;
  font-weight: bold;
  background-color: #008d4c !important;
  border-color: #008d4c !important;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}

.fa-address-card-o {
  margin-top: 60px;
  text-align: center;
  color: #ffffff;
}

.texto-login {
  font-family: Helvetica, sans-serif;
  margin-top: 90px;
  text-align: center;
  color: #ffffff;
}

.texto {
  text-align: center;
}

.imagem-login {
  margin-left: auto;
  margin-right: auto;
  min-height: 140px;
  max-width: 200px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

input {
  text-transform: none !important;
}

#cabecalho.cab_verde {
  background: url(../../../assets/images/cablog_meio.png) repeat-x;
}

#cabecalho.cab_verde div {
  background:  url(../../../assets/images/cablog_direito.png) 100% 0 no-repeat;
}

#cabecalho.cab_verde div div {
  background: url(../../../assets/images/cablog_esquerdo.png) no-repeat;
  height: 46px;
}

#cabecalho .calendario {
  color: #fff;
  font-size: 13px;
  margin-left: 17px;
  line-height: 44px;
  font-weight: bold;
}
