<div class="container-fluid">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

  <p-breadcrumb [model]="items" [home]="homeBreadcrumb"></p-breadcrumb>

  <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="profile-tab">
        <div class="separador-form"></div>
<div class="ui-g-12">
  <div class="ui-g-12">
    <h3 style="text-align: center"><i class="fa fa-print"></i> Relatório controle jurídico</h3>
  </div>

  <form autocomplete="off" (ngSubmit)="gerar()">

    <div class="card bg-light mb-12">
      <div class="card-body">
        <div class="row">

            <div class="ui-g-12 ui-md-3 ui-fluid">
                <div class="form-group">
                <label for="tipo">Tipo Relatório</label>
                <br />
                <p-dropdown [options]="tipos" [filter]="false" placeholder="Selecione"
                name="tipo" [(ngModel)]="tipo"></p-dropdown>
                </div>
              </div>

          <div class="ui-g-12 ui-md-2 ui-fluid">
            <div class="form-group">
              <label for="ano">Ano</label>
              <br />
              <input pInputText type="number" name="ano" [(ngModel)]="ano" class="form-control">
            </div>
          </div>

          <div class="ui-g-12 ui-md-3 ui-fluid">
            <div class="form-group">
            <label for="mes">Mês</label>
            <br />
            <p-dropdown [options]="meses" [filter]="false" placeholder="Selecione"
            name="mes" [(ngModel)]="mes"></p-dropdown>
            </div>
          </div>

          <div class="ui-g-12 ui-md-4 ui-fluid">
            <div class="form-group">
            <label for="ugb">UGB</label>
            <br />
            <p-dropdown [options]="ugbs" [filter]="false" placeholder="Selecione"
            name="ugb" [(ngModel)]="ugb"></p-dropdown>
            </div>
          </div>

          <div class="ui-g-12 ui-md-4 ui-fluid">
            <div class="form-group">
            <label for="prioridade">Prioridade</label>
            <br />
            <p-dropdown [options]="prioridades" [filter]="false" placeholder="Selecione"
            name="prioridade" [(ngModel)]="prioridade"></p-dropdown>
            </div>
          </div>

          <div class="ui-g-12 ui-md-4 ui-fluid">
            <div class="form-group">
            <label for="funcionario">Funcionários</label>
            <br />
            <p-dropdown [options]="funcionarios" [filter]="false" placeholder="Selecione"
            name="funcionario" [(ngModel)]="funcionario.id"></p-dropdown>
            </div>
          </div>

        </div>
      </div>
      <div class="card-footer">
          <button pButton type="submit" icon="fa fa-print" label="Gerar" class="botao"></button>
          <button type="button" pButton class="ui-button-danger" icon="fa fa-eraser" label="Limpar"(click)="limparFiltro()"></button>
     </div>
    </div>

</form>
</div>
</div>


</div>
</div>

