.col-codigo {
    width: 20% !important;
    text-align: center;
}

.col-acao {
    width: 10% !important;
    text-align: center;
}

.col-prateleira {
  width: 20% !important;
}

.col-nome {
    width: 60% !important;
}

