.col-codigo {
    width: 20%;
    text-align: center;
}

.col-acao {
    width: 10%;
    text-align: center;
}

.col-nome {
    width: 80%;
}

.col-numero {
  width: 20%;
}

.col-ano {
  width: 20%;
}

