  <div class="container-fluid">

      <div class="ui-g">
        <div class="ui-g-12 breadcrumb">
          <p-breadcrumb [model]="items" [home]="homeBreadcrumb"></p-breadcrumb>
        </div>
      </div>

      <div class="separador-form"></div>

      <form #f="ngForm" autocomplete="off">

        <div class="ui-g">
          <div class="ui-g-12">
            <app-menu-form [rotaListar]="rotaListar" [consulta]="consulta" [entidade]="entidade" [formulario]="f"
            (imprimir)="imprimir($event)" [permissaoImprimir]="segurancaService.temPermissao('DOCUMENTO_IMPRIMIR')"
            (salvar)="salvar($event)"></app-menu-form>
          </div>

          <div class="ui-g-12">

            <!--Início dados-->
            <div class="card periodo">
              <div class="card-header">
                <strong>Dados</strong>
              </div>
              <div class="card-body">
                  <div class="row">
                      <div class="ui-g-12 ui-md-4 ui-fluid">
                          <div class="form-group">
                          <label for="tipoDocumento">Tipo documento</label>
                          <br />
                          <input pInputText type="text" name="tipoDocumento.descricao" [(ngModel)]="entidade.tipoDocumento.descricao"
                          #tipoDocumento="ngModel" required minlength="3" maxlength="30" [readonly]="true"
                          [ngClass]="tipoDocumento? 'sucessoInput':'erroInput'" class="form-control">
                          </div>
                        </div>

                      <div class="ui-g-12 ui-md-4 ui-fluid">
                          <div class="form-group">
                        <label for="numeroDocumento">Nº Documento</label>
                        <br />
                        <input pInputText type="text" name="numeroDocumento" [(ngModel)]="entidade.numeroDocumento"
                        #numeroDocumento="ngModel" required minlength="3" maxlength="30" [readonly]="true"
                        [ngClass]="numeroDocumento? 'sucessoInput':'erroInput'" class="form-control">
                      </div>
                    </div>

                    <div class="ui-g-12 ui-md-4 ui-fluid">
                      <div class="form-group">
                    <label for="numeroProcesso">Nº Processo</label>
                    <br />
                    <input pInputText type="text" name="numeroProcesso" [(ngModel)]="entidade.numeroProcesso"
                    #numeroProcesso="ngModel" required minlength="3" maxlength="30" [readonly]="true"
                    [ngClass]="numeroProcesso? 'sucessoInput':'erroInput'" class="form-control">
                  </div>
                </div>

                <div class="ui-g-12 ui-md-12 ui-fluid">
                  <div class="form-group">
                <label for="interessado">Interessado</label>
                <br />
                <input pInputText type="text" name="interessado" [(ngModel)]="entidade.interessado"
                #interessado="ngModel" required minlength="3" maxlength="30" [readonly]="true"
                [ngClass]="interessado? 'sucessoInput':'erroInput'" class="form-control">
              </div>
            </div>

            <div class="ui-g-12 ui-md-6 ui-fluid">
                <div class="form-group">
              <label for="assunto">Assunto</label>
              <br />
              <input pInputText type="text" name="assunto.descricao" [(ngModel)]="entidade.assunto.descricao"
              #assunto="ngModel" required minlength="3" maxlength="30" [readonly]="true"
              [ngClass]="assunto? 'sucessoInput':'erroInput'" class="form-control">
            </div>
          </div>

        <div class="ui-g-12 ui-md-6 ui-fluid">
            <div class="form-group">
          <label for="referencia">Referência</label>
          <br />
          <input pInputText type="text" name="referencia.descricao" [(ngModel)]="entidade.referencia.descricao"
          #referencia="ngModel" required minlength="3" maxlength="30" [readonly]="true"
          [ngClass]="referencia? 'sucessoInput':'erroInput'" class="form-control">
        </div>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
          <div class="form-group">
          <label for="ugb">UGB</label>
          <br />
          <p-dropdown [options]="ugbs" [filter]="false" placeholder="Selecione"
          name="ugb" [(ngModel)]="entidade.ugb" ></p-dropdown>
          </div>
        </div>

        <div class="ui-g-12 ui-md-3 ui-fluid">
            <div class="form-group">
            <label for="prioridadeJuridico">Prioridade jurídico</label>
            <br />
            <p-dropdown [options]="prioridades" [filter]="false" placeholder="Selecione"
            name="prioridadeJuridico" [(ngModel)]="entidade.prioridade" ></p-dropdown>
            </div>
          </div>

          <div class="ui-g-12 ui-md-3 ui-fluid">
            <div class="form-group">
            <label for="orgao">Orgão</label>
            <br />
            <p-dropdown [options]="orgaos" [filter]="false" placeholder="Selecione" (ngModelChange)="listarOrgaos()"
            name="orgao" [(ngModel)]="entidade.orgao.id" ></p-dropdown>
            </div>
          </div>

          <div class="ui-g-12 ui-md-3 ui-fluid">
            <div class="form-group">
              <label for="dataDocumento">Data Documento</label>
              <br />
              <p-calendar name="dataDocumento" [(ngModel)]="entidade.dataDocumento"
              [locale]="locale.es" dateFormat="dd/mm/yy" [showIcon]="true" [disabled]="true"
              ></p-calendar>
          </div>
          </div>

      <div class="ui-g-12 ui-md-12 ui-fluid">
        <div class="form-group">
      <label for="descricaoAssunto">Descricao Assunto</label>
      <br />
      <textarea pInputTextarea name="descricaoAssunto" [(ngModel)]="entidade.descricaoAssunto" #descricaoAssunto="ngModel"
      [ngClass]="descricaoAssunto? 'sucessoInput':'erroInput'" class="form-control" [readonly]="true"></textarea>
    </div>
  </div>

                  </div>

              </div>
            </div>
            <!--Fim dados-->

            <!--Início emitente-->
            <!-- <div class="card periodo">
              <div class="card-header">
                <strong>Emitente e destinatário</strong>
              </div>
              <div class="card-body">
                  <div class="row">

                    <div class="ui-g-12 ui-md-6 ui-fluid">
                      <div class="form-group">
                    <label for="emitente">Emitente</label>
                    <br />
                    <input pInputText type="text" name="emitente" [(ngModel)]="entidade.emitente.descricao"
                    #emitente="ngModel" required minlength="3" maxlength="30" [readonly]="true"
                    [ngClass]="emitente? 'sucessoInput':'erroInput'" class="form-control">
                  </div>
                </div>

                <div class="ui-g-12 ui-md-6 ui-fluid">
                  <div class="form-group">
                <label for="destinatario">Destinatário</label>
                <br />
                <input pInputText type="text" name="destinatario" [(ngModel)]="entidade.destinatario.descricao"
                #destinatario="ngModel" required minlength="3" maxlength="30" [readonly]="true"
                [ngClass]="destinatario? 'sucessoInput':'erroInput'" class="form-control">
              </div>
            </div>



                  </div>
              </div>
            </div> -->
            <!--Fim emitente-->

            <!--Início arquivo local-->
            <div class="card periodo">
                <div class="card-header">
                  <strong>Local do arquivo físico</strong>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="ui-g-12 ui-md-4 ui-fluid">
                            <div class="form-group">
                          <label for="armario">Armário</label>
                          <br />
                          <input pInputText type="text" name="armario" [(ngModel)]="entidade.armario.nome"
                          #armario="ngModel" required minlength="3" maxlength="30" [readonly]="true"
                          [ngClass]="armario? 'sucessoInput':'erroInput'" class="form-control">
                        </div>
                      </div>

                      <div class="ui-g-12 ui-md-4 ui-fluid">
                        <div class="form-group">
                      <label for="caixa">Caixa</label>
                      <br />
                      <input pInputText type="text" name="caixa" [(ngModel)]="entidade.caixa.nome"
                      #caixa="ngModel" required minlength="3" maxlength="30" [readonly]="true"
                      [ngClass]="caixa? 'sucessoInput':'erroInput'" class="form-control">
                    </div>
                  </div>

                  <div class="ui-g-12 ui-md-4 ui-fluid">
                    <div class="form-group">
                  <label for="pasta">Pasta</label>
                  <br />
                  <input pInputText type="text" name="pasta" [(ngModel)]="entidade.pasta.nome"
                  #pasta="ngModel" required minlength="3" maxlength="30" [readonly]="true"
                  [ngClass]="pasta? 'sucessoInput':'erroInput'" class="form-control">
                </div>
              </div>

                    </div>
                </div>
              </div>
              <!--Fim arquivo local-->

        </div>
        </div>
      </form>
    </div>
