<div class="ui-g">
  <div class="ui-g-12 breadcrumb">
    <p-breadcrumb [model]="items"></p-breadcrumb>
  </div>
</div>

<div class="container">

    <form #f="ngForm" autocomplete="off">

      <div class="ui-g">

        <div class="ui-g-12">
          <app-menu-form [rotaListar]="rotaListar" [consulta]="consulta" [entidade]="entidade" [formulario]="f"
          (imprimir)="imprimir($event)" [permissaoImprimir]="segurancaService.temPermissao('UNIDADE_ADMINISTRATIVA_IMPRIMIR')"
          (salvar)="salvar($event)"></app-menu-form>
        </div>

        <div class="ui-g-12">
          <p-fieldset legend="Dados">

            <div class="ui-g-8 ui-md-8 ui-fluid">
              <label [ngClass]="nome? 'sucessoLabel':'erroLabel'">Nome</label>
              <input pInputText type="text" name="nome" [(ngModel)]="entidade.nome"
              #nome="ngModel" required minlength="3" maxlength="30" [disabled]="consulta"
              [ngClass]="nome? 'sucessoInput':'erroInput'">
            </div>

            <div class="ui-g-4 ui-md-4 ui-fluid">
              <label [ngClass]="sigla? 'sucessoLabel':'erroLabel'">Sigla</label>
              <input pInputText type="text" name="sigla" [(ngModel)]="entidade.sigla"
              #nome="ngModel" required minlength="3" maxlength="30" [disabled]="consulta"
              [ngClass]="sigla? 'sucessoInput':'erroInput'">
            </div>

            <div class="ui-g-12 ui-md-12 ui-fluid">
              <label [ngClass]="entidadeOrgao? 'sucessoLabel':'erroLabel'">Orgão</label>
              <div class="ui-inputgroup">
                <input pInputText type="text" name="entidadeOrgao" [(ngModel)]="entidade.entidade.nome"
                required [disabled]="true"
                [ngClass]="entidadeOrgao? 'sucessoInput':'erroInput'">
              </div>
            </div>

          </p-fieldset>
        </div>

      </div>

    </form>
</div>
