<div class="container-fluid">

<div class="ui-g">
  <div class="ui-g-12 breadcrumb">
      <p-breadcrumb [model]="items" [home]="homeBreadcrumb"></p-breadcrumb>
    </div>
</div>

<div class="separador-form"></div>

    <form #f="ngForm" autocomplete="off">

      <div class="ui-g">
        <div class="ui-g-12">
          <app-menu-form [rotaListar]="rotaListar" [consulta]="consulta" [entidade]="entidade" [formulario]="f"
          (imprimir)="imprimir($event)" [permissaoImprimir]="segurancaService.temPermissao('ARMARIO_IMPRIMIR')"
          (salvar)="salvar($event)"></app-menu-form>
        </div>

        <div class="ui-g-12">

            <div class="card periodo">
                <div class="card-header">
                  <strong>Dados</strong>
                </div>
                <div class="card-body">
                  <div class="row">
                      <div class="ui-g-12 ui-md-12 ui-fluid">
                          <div class="form-group">
                        <label for="numero">Nome</label>
                        <br />
                        <input pInputText type="text" name="nome" [(ngModel)]="entidade.nome"
                        #nome="ngModel" required minlength="3" maxlength="30"
                        [ngClass]="nome? 'sucessoInput':'erroInput'" class="form-control">
                      </div>
                    </div>

                    <div class="ui-g-3 ui-md-6 ui-fluid">
                        <div class="form-group">
                        <label>Unidade Administrativa</label>
                        <div class="ui-inputgroup">
                          <input pInputText type="text" name="unidadeAdministrativa" [(ngModel)]="entidade.unidadeAdministrativa.nome"
                          required minlength="3" maxlength="30" [disabled]="true">
                          <buscar-unidade-administrativa (seleciona)="selecionarUnidadeAdministrativa($event)"></buscar-unidade-administrativa>
                        </div>
                        </div>
                      </div>

                    <div class="ui-g-12 ui-md-6 ui-fluid">
                        <div class="form-group">
                      <label for="prateleira">Prateleira</label>
                      <br />
                      <input pInputText type="text" name="prateleira" [(ngModel)]="entidade.prateleira"
                      #prateleira="ngModel" required minlength="3" maxlength="30"
                      [ngClass]="prateleira? 'sucessoInput':'erroInput'" class="form-control">
                    </div>
                  </div>

                  </div>
                </div>
              </div>

        </div>
      </div>
    </form>
</div>
