.col-tipo {
  width: 20%;
  text-align: center;
}

.col-documento {
  width: 20%;
  text-align: center;
}

.col-origem {
width: 25%;
text-align: center;
}

.col-interessado {
width: 20%;
text-align: center;
}

.col-data {
  width: 20%;
  text-align: center;
  }

.col-acao {
  width: 2%;
  text-align: center;
}


a:hover {
  color: #5cb85c !important;
}

.botao-acao {
  text-align: center;
  color: #3c8dbc;
}

.botao-excluir {
  color: #DF4C39;
}

a {
  font-size: 18px;
}

