<div class="container-fluid">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

  <p-breadcrumb [model]="items" [home]="homeBreadcrumb"></p-breadcrumb>

  <div class="ui-g-8"></div>

    <div class="ui-g-4">
        <p-dropdown class="item-por-pagina" [options]="quantidadeItemPorPagina" [(ngModel)]="quantidadeItemPorPaginaSelecionada" optionLabel="value" (click)="pesquisar()"></p-dropdown>
        <span class="total-registros-msg item-por-pagina-msg">Itens por página:</span>
      </div>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="profile-tab">
      <div class="separador-form"></div>

      <form autocomplete="off" (ngSubmit)="pesquisar()">

      <div class="card bg-light mb-3">
        <div class="card-body">
          <div class="row">
            <div class="ui-g-12 ui-md-2 ui-fluid">
              <div class="form-group">
                <label for="info_consulta">Código</label>
                <input pInputText type="number" class="form-control" name="id" [(ngModel)]="filtro.id">
              </div>
            </div>

            <div class="ui-g-12 ui-md-5 ui-fluid">
                <div class="form-group">
                  <label for="info_consulta">Nº Documento</label>
                  <input pInputText type="text" class="form-control" name="numeroDocumento" [(ngModel)]="filtro.numeroDocumento" maxlength="30">
                </div>
              </div>


            <div class="ui-g-12 ui-md-5 ui-fluid">
              <div class="form-group">
                <label for="info_consulta">Nº Processo</label>
                <input pInputText type="text" class="form-control" name="numeroProcesso" [(ngModel)]="filtro.numeroProcesso" maxlength="30">
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <app-menu-consulta (limpar)="limparFiltro()"></app-menu-consulta>
      </div>
      </div>
      </form>


      <div class="ui-g-12">
        <p-table [value]="selecionados" [responsive]="true" [paginator]="true" [rows]="filtro.itensPorPagina"
              [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)" #tabela>
          <ng-template pTemplate="header">
              <tr>
                  <th class="col-tipo">Tipo Documento</th>
                  <th class="col-documento">Nº Documento</th>
                  <th class="col-documento">Nº Processo</th>
                  <th class="col-origem">Origem</th>
                  <th class="col-interessado">Interessado</th>
                  <th class="col-data">Data Documento</th>
                  <th class="col-acao">Ação</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-entidade>
              <tr (click)="selecionarEntidade(entidade)" [ngClass]="entidade.id == codigoEntidade ?'selecionado':null">
                  <td>{{entidade.tipoDocumento.descricao}}</td>
                  <td>{{entidade.numeroDocumento}}</td>
                  <td>{{entidade.numeroProcesso}}</td>
                  <td>{{entidade.unidadeAdministrativa.nome}}</td>
                  <td>{{entidade.interessado}}</td>
                  <td class="col-data">{{entidade.dataDocumento | date:'dd/MM/yyyy'}}</td>
                  <td class="botao-acao">
                    <a
                    title="Cadastrar"
                    tooltipPosition="bottom"
                    (click)="editar(entidade.id)"
                    ><i class="fa fa-share-square-o botao-acao"></i>
                  </a>
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="6">
                Nenhum registro encontrado
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <div class="ui-g-6 total-registros">
        <span class="total-registros-msg">Total de registros encontrados:</span>
        <span class="total-registros-valor">{{totalRegistros}}</span>
      </div>

    </div>

 </div>
</div>
