<div class="container-fluid">

    <div class="ui-g">
      <div class="ui-g-12 breadcrumb">
          <p-breadcrumb [model]="items" [home]="homeBreadcrumb"></p-breadcrumb>
        </div>
    </div>

    <div class="separador-form"></div>

        <form #f="ngForm" autocomplete="off">

          <div class="ui-g">
            <div class="ui-g-12">
              <app-menu-form [rotaListar]="rotaListar" [consulta]="consulta" [entidade]="entidade" [formulario]="f"
              (imprimir)="imprimir($event)" [permissaoImprimir]="segurancaService.temPermissao('USUARIO_IMPRIMIR')"
              (salvar)="salvar($event)"></app-menu-form>
            </div>

            <div class="ui-g-12">

                <div class="card periodo">
                    <div class="card-header">
                      <strong>Dados</strong>
                    </div>
                    <div class="card-body">
                      <div class="row">

                          <div class="ui-g-12 ui-md-8 ui-fluid">
                              <div class="form-group">
                            <label for="nome">Nome</label>
                            <br />
                            <input pInputText type="text" name="nome" [(ngModel)]="entidade.nome"
                            #nome="ngModel" required minlength="3" maxlength="100" [disabled]="consulta"
                            [ngClass]="nome? 'sucessoInput':'erroInput'" class="form-control">
                          </div>
                        </div>

                        <div class="ui-g-6 ui-md-4 ui-fluid">
                            <div class="form-group">
                              <label for="cpf">CPF</label>
                              <br />
                              <p-inputMask name="cpf" [(ngModel)]="entidade.cpf" mask="999.999.999-99" [disabled]="consulta"
                              ></p-inputMask>

                            </div>
                          </div>

                            <div class="ui-g-12 ui-md-6 ui-fluid">
                                <div class="form-group">
                              <label for="login">Login</label>
                              <br />
                              <input pInputText type="text" name="login" [(ngModel)]="entidade.login"
                              #login="ngModel" required minlength="3" maxlength="30" [disabled]="consulta"
                              [ngClass]="login? 'sucessoInput':'erroInput'" class="form-control">
                            </div>
                          </div>

                          <div class="ui-g-12 ui-md-6 ui-fluid">
                              <div class="form-group">
                            <label for="email">Email</label>
                            <br />
                            <input pInputText type="text" name="email" [(ngModel)]="entidade.email"
                            #email="ngModel" required minlength="3" maxlength="80" [disabled]="consulta"
                            [ngClass]="email? 'sucessoInput':'erroInput'" class="form-control">
                          </div>
                        </div>

                        <div class="ui-g-12 ui-md-6 ui-fluid">
                            <div class="form-group">
                          <label for="senha">Senha</label>
                          <br />
                          <input pInputText type="password" name="senha" [(ngModel)]="entidade.senha"
                          #senha="ngModel" required minlength="3" maxlength="30" [disabled]="consulta"
                          [ngClass]="senha? 'sucessoInput':'erroInput'" class="form-control">
                        </div>
                      </div>


                      <div class="ui-g-12 ui-md-6 ui-fluid">
                          <div class="form-group">
                          <label for="perfil">Perfil</label>
                          <br />
                          <p-dropdown [options]="perfis" [filter]="false" placeholder="Selecione"
                          name="perfil" [(ngModel)]="entidade.perfil.id" [disabled]="consulta"></p-dropdown>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>


                  <div class="ui-g-12">
                  <div class="card periodo">
                    <div class="card-header">
                      <strong>Permissões</strong>
                    </div>

                        <p-pickList [source]="permissoes" [target]="permissoesSelecionadas" sourceHeader="Selecione"
                        targetHeader="Selecionados" [responsive]="true" filterBy="role"
                        [showSourceControls]="false" [showTargetControls]="false" [disabled]="consulta"
                        dragdrop="true" sourceFilterPlaceholder="Pesquisar" targetFilterPlaceholder="Pesquisar"
                        [sourceStyle]="{'height':'400px'}" [targetStyle]="{'height':'400px'}">
                            <ng-template let-permissao pTemplate="item">
                                <div class="ui-helper-clearfix">
                                  <div style="font-size:14px">{{permissao.role}}</div>
                                </div>
                            </ng-template>
                        </p-pickList>
                  </div>
                </div>

            </div>
          </div>
          <div style="padding: 30px;"></div>
        </form>
    </div>
