.botao-acao {
  margin-right: 15px !important;
  color: #3c8dbc;
}

.botao-adicionar {
  margin-right: 15px !important;
  color: #3c8dbc;
  font-size: 25px;
}

.botao-excluir {
  color: #DF4C39;
}

.botao-contato {
  margin-bottom: 5px;
}

a {
  font-size: 18px;
}

.botao-adicionar {
  margin-bottom: 10px;
}

.botao-tab {
  margin-bottom: 2px;
  margin-right: 5px;
}

.col-acao {
  width: 20%;
  text-align: center;
}

.col-email {
  width: 85%;
  margin: 0 auto;
}

.col-telefone {
  width: 50%;
  margin: 0 auto;
}

.descricao-cnpjCpf {
  margin-right: 8px !important;
  margin-left: -9px !important;
}

.valorTotal {
  font-weight: bold;
  float: right;
  margin-right: 7%;
}

.col-codigo-proprio {
  width: 15%;
}

.col-valor-header {
  width: 120px;
}

.col-valor {
  text-align: right;
  width: 120px;
}

.col-acao-produto{
  width: 8%;
  text-align: center;
}

a:hover {
  color: #5cb85c !important;
}

.col-periodo {
  text-align: center;
}

.col-data {
  text-align: center;
}

body .ui-inputtext {
  width: 10px !important;
}

.input{
  width: 20px;
}

.col-ano{
  text-align: center;
  width: 7%;
}

.col-acao-ferias{
  text-align: center;
  width: 12%;
}

.col-status {
  text-align: center;
  width: 15%;
}

.col-assunto{
  text-align: center;
  width: 20%;
}

.col-data-fim{
  text-align: center;
  width: 20%;
}

.col-data-inicio{
  text-align: center;
  width: 20%;
}

.col-observacao{
  text-align: center;
  width: 40%;
}


