<div class="container-fluid">

  <div class="ui-g">
    <div class="ui-g-12 breadcrumb">
      <p-breadcrumb [model]="items" [home]="homeBreadcrumb"></p-breadcrumb>
    </div>
  </div>

  <div class="separador-form"></div>

  <form #f="ngForm" autocomplete="off">

    <div class="ui-g">
      <div class="ui-g-12">
        <app-menu-form [rotaListar]="rotaListar" [consulta]="consulta" [entidade]="entidade" [formulario]="f"
        [permissaoImprimir]="segurancaService.temPermissao('FUNCIONARIO_IMPRIMIR')" (salvar)="salvar($event)"></app-menu-form>
      </div>

      <div class="ui-g-12">
        <p-tabView>
        <!--Início dados pessoais-->
        <p-tabPanel header="Dados Pessoais">

        <!--Início dados-->
        <div class="card periodo">

          <div class="card-body">
            <div class="row">
              <div class="ui-g-12 ui-md-12 ui-fluid">
                <div class="form-group">
                  <label for="nome">Nome</label>
                  <br />
                  <input pInputText type="text" name="nome" [(ngModel)]="entidade.nome" #nome="ngModel"
                    required minlength="3" maxlength="100"
                    [ngClass]="nome? 'sucessoInput':'erroInput'" class="form-control">
                </div>
              </div>


              <div class="ui-g-12 ui-md-4 ui-fluid">
                <div class="form-group">
                  <label for="dataNascimento">Data nascimento</label>
                  <br />
                  <p-calendar name="dataNascimento" [(ngModel)]="entidade.dataNascimento"
                  [monthNavigator]="true" [yearNavigator]="true"  yearRange="1900:2030"
                  [locale]="locale.es" dateFormat="dd/mm/yy" [showIcon]="true"
                  ></p-calendar>
                </div>
              </div>

              <div class="ui-g-6 ui-md-4 ui-fluid">
                <div class="form-group">
                  <label for="cpf">CPF</label>
                  <br />
                  <p-inputMask name="cpf" [(ngModel)]="entidade.cpf" mask="999.999.999-99"></p-inputMask>
                </div>
              </div>

              <div class="ui-g-12 ui-md-4 ui-fluid">
                <div class="form-group">
                  <label for="rg">RG</label>
                  <br />
                  <input pInputText type="text" name="rg" [(ngModel)]="entidade.rg" #rg="ngModel" required minlength="3"
                    [ngClass]="rg? 'sucessoInput':'erroInput'"
                    class="form-control">
                </div>
              </div>

            </div>

          </div>
        </div>
        <!--Fim dados-->

        <!--Início endereço-->
        <div class="card periodo">
          <div class="card-header">
            <strong>Endereço</strong>
          </div>
          <div class="card-body">
            <div class="row">

              <div class="ui-g-12 ui-md-12 ui-fluid">
                <div class="form-group">
                  <label for="logradouro">Logradouro</label>
                  <br />
                  <input pInputText type="text" name="logradouro" [(ngModel)]="entidade.endereco.logradouro" required
                    minlength="3" class="form-control"
                    [ngClass]="endereco? 'sucessoInput':'erroInput'">
                </div>
              </div>

              <div class="ui-g-12 ui-md-5 ui-fluid">
                <div class="form-group">
                  <label for="bairro">Bairro</label>
                  <br />
                  <input pInputText type="text" name="bairro" [(ngModel)]="entidade.endereco.bairro" required
                    minlength="3" class="form-control"
                    [ngClass]="endereco? 'sucessoInput':'erroInput'">
                </div>
              </div>

                <div class="ui-g-12 ui-md-4 ui-fluid">
                  <div class="form-group">
                  <label for="municipio">Cidade</label>
                  <br />
                  <p-dropdown [options]="municipios" [filter]="true" placeholder="Selecione" (ngModelChange)="buscarMunicipios()"
                  name="municipio" [(ngModel)]="entidade.endereco.municipio.id"></p-dropdown>
                  </div>
                </div>

              <div class="ui-g-12 ui-md-3 ui-fluid">
                <div class="form-group">
                  <label for="cep">CEP</label>
                  <br />
                    <p-inputMask name="endereco" [(ngModel)]="entidade.endereco.cep" mask="99.999.999"
                    [ngClass]="endereco? 'sucessoSelect':'erroSelect'" ></p-inputMask>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!--Fim endereço-->

                 <!--Início contato pessoal-->
                 <div class="card periodo">
                    <div class="card-header">
                      <strong>Contato pessoal
                      <a title="Adicionar contato"
                        tooltipPosition="bottom"
                        (click)="showDialogContatoPessoal()">
                        <i class="fa fa-plus-square botao-adicionar" style="float: right;"></i>
                      </a></strong>
                    </div>
                    <div class="card-body">
                      <div class="row">

                        <p-table [value]="contatosPessoalSelecionados" [responsive]="true">
                          <ng-template pTemplate="header">
                            <tr>
                              <th class="col-email">Email</th>
                              <th class="col-telefone">Telefone</th>
                              <th class="col-telefone">Celular</th>
                              <th class="col-acao"></th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-contatoPessoal let-rowIndex="rowIndex">
                            <tr>
                              <td>{{contatoPessoal.email}}</td>
                              <td>{{contatoPessoal.telefone}}</td>
                              <td>{{contatoPessoal.celular}}</td>
                              <td class="col-acao">
                                <a icon="fa fa-edit" title="Editar" tooltipPosition="bottom"
                                  (click)="editarContatoPessoal(contatoPessoal, rowIndex)">
                                  <i class="fa fa-edit botao-acao"></i>
                                </a>

                                <a icon="fa fa-trash" title="Excluir" tooltipPosition="bottom" (click)="removerContatoPessoal(rowIndex)">
                                  <i class="fa fa-trash botao-excluir"></i>
                                </a>
                              </td>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="emptymessage">
                            <tr>
                              <td colspan="6">
                                Nenhum registro encontrado
                              </td>
                            </tr>
                          </ng-template>
                        </p-table>
                      </div>
                    </div>
                  </div>
                  <!--Fim contato pessoal-->



                  <!--Início modal contato pessoal-->
                  <p-dialog header="{{editandoContatoPessoal? 'Editando contato':'Novo contato' }}" [(visible)]="visibleDialogContatoPessoal"
                    modal="modal" [style]="{width: '800px'}" [responsive]="true">

                    <div class="ui-g-12">
                      <div class="ui-g-8 ui-md-12 ui-fluid">
                        <div class="form-group">
                          <label for="emailPessoal">E-mail</label>
                          <br />
                          <input pInputText type="text" name="email" [(ngModel)]="contatoPessoal.email" maxlength="80" class="form-control">
                        </div>
                      </div>

                      <div class="ui-g-4 ui-md-6 ui-fluid">
                        <div class="form-group">
                            <label for="telefonePessoal">Telefone</label>
                            <br />
                            <p-inputMask name="telefonePessoal" [(ngModel)]="contatoPessoal.telefone" mask="(99) 9999-9999"></p-inputMask>
                          </div>
                      </div>

                    <div class="ui-g-4 ui-md-6 ui-fluid">
                      <div class="form-group">
                          <label for="telefone">Celular</label>
                          <br />
                          <p-inputMask name="celularPessoal" [(ngModel)]="contatoPessoal.celular" mask="(99) 9 9999-9999"></p-inputMask>
                        </div>
                    </div>
                  </div>

                    <p-footer>
                      <div class="ui-dialog-buttonpane ui-helper-clearfix">
                        <button type="button" pButton icon="pi pi-times" (click)="cancelarModalContatoPessoal()" label="Cancelar"
                          class="ui-button-danger"></button>
                        <button type="button" pButton icon="pi pi-check" (click)="salvarContatoPessoal(contatoPessoal)"
                          label="Confirmar"></button>
                      </div>
                    </p-footer>
                  </p-dialog>
                  <!--Fim modal contato pessoal-->

    </p-tabPanel>
    <!--Fim dados pessoais-->

    <!--Início dados profissionais-->
    <p-tabPanel header="Dados Profissionais">
        <div class="card periodo">

            <div class="card-body">
              <div class="row">

              <div class="ui-g-8 ui-md-4 ui-fluid">
                  <div class="form-group">
                    <label for="matricula">Matricula</label>
                    <br />
                    <input pInputText type="text" name="matricula" [(ngModel)]="entidade.matricula" maxlength="80" class="form-control">
                  </div>
                </div>

                <div class="ui-g-12 ui-md-4 ui-fluid">
                  <div class="form-group">
                  <label for="cargo">Cargo</label>
                  <br />
                  <p-dropdown [options]="cargos" [filter]="false" placeholder="Selecione" (ngModelChange)="buscarCargos()"
                  name="cargo" [(ngModel)]="entidade.cargo.id" ></p-dropdown>
                  </div>
                </div>

                <div class="ui-g-12 ui-md-4 ui-fluid">
                  <div class="form-group">
                  <label for="ugb">UGB</label>
                  <br />
                  <p-dropdown [options]="ugbs" [filter]="false" placeholder="Selecione"
                  name="ugb" [(ngModel)]="entidade.ugb" ></p-dropdown>
                  </div>
                </div>

                <div class="ui-g-12 ui-md-4 ui-fluid">
                  <div class="form-group">
                    <label for="cep">Data admissão</label>
                    <br />
                    <p-calendar name="dataEntrada" [(ngModel)]="entidade.dataEntrada"
                    [monthNavigator]="true" [yearNavigator]="true"  yearRange="1900:2030"
                    [locale]="locale.es" dateFormat="dd/mm/yy" [showIcon]="true"
                    ></p-calendar>
                  </div>
                </div>

                <div class="ui-g-12 ui-md-4 ui-fluid">
                  <div class="form-group">
                    <label for="cep">Data saída</label>
                    <br />
                    <p-calendar name="dataSaida" [(ngModel)]="entidade.dataSaida"
                    [monthNavigator]="true" [yearNavigator]="true"  yearRange="1900:2030"
                    [locale]="locale.es" dateFormat="dd/mm/yy" [showIcon]="true"
                    ></p-calendar>
                  </div>
                </div>

                <div class="ui-g-12 ui-md-4 ui-fluid">
                    <div class="form-group">
                    <label for="status">Status</label>
                    <br />
                    <p-dropdown [options]="statusDados" [filter]="false" placeholder="Selecione"
                    name="status" [(ngModel)]="entidade.status" ></p-dropdown>
                    </div>
                  </div>

      <!--Início Empresa-->
        <div class="card periodo ui-g-12 ui-md-12 ui-fluid">
          <div class="card-header">
            <strong>Empresa/Orgão
            <buscar-credor (seleciona)="selecionarCredor($event)" style="float: right;"></buscar-credor>

          </strong>
          </div>
          <div class="card-body">
            <div class="row">

              <p-table [value]="credoresSelecionados" [responsive]="true">
                <ng-template pTemplate="header">
                  <tr>
                    <th  style="width: 100%;">Nome</th>
                    <th  style="width: 30%;">CPF/CNPJ</th>
                    <th class="col-acao"></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-credor let-rowIndex="rowIndex">
                  <tr>
                    <td style="width: 100%;">
                      {{credor.nome}}
                    </td>
                    <td>
                      {{credor.cpfCnpj}}
                    </td>
                    <td class="col-acao">
                      <a icon="fa fa-floppy-o" title="Salvar" tooltipPosition="bottom"
                        (click)="salvarCredor(credor, rowIndex)">
                        <i class="fa fa-floppy-o botao-acao"></i>
                      </a>

                      <a icon="fa fa-trash" title="Excluir" tooltipPosition="bottom" (click)="removerCredor(credor, rowIndex)">
                        <i class="fa fa-trash botao-excluir"></i>
                      </a>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="6">
                      Nenhum registro encontrado
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
        <!-- Fim empresa -->

         <!--Início contato-->
         <div class="card periodo ui-g-12 ui-md-12 ui-fluid">
          <div class="card-header">
            <strong>Contato
            <a title="Adicionar contato"
              tooltipPosition="bottom"
              (click)="showDialogContato()">
              <i class="fa fa-plus-square botao-adicionar" style="float: right;"></i>
            </a></strong>
          </div>
          <div class="card-body">
            <div class="row">

              <p-table [value]="contatosSelecionados" [responsive]="true">
                <ng-template pTemplate="header">
                  <tr>
                    <th class="col-email">Email</th>
                    <th class="col-telefone">Telefone</th>
                    <th class="col-telefone">Ramal</th>
                    <th class="col-acao"></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-contato let-rowIndex="rowIndex">
                  <tr>
                    <td>{{contato.email}}</td>
                    <td>{{contato.telefone}}</td>
                    <td>{{contato.ramal}}</td>
                    <td class="col-acao">
                      <a icon="fa fa-edit" title="Editar" tooltipPosition="bottom"
                        (click)="editarContato(contato, rowIndex)">
                        <i class="fa fa-edit botao-acao"></i>
                      </a>

                      <a icon="fa fa-trash" title="Excluir" tooltipPosition="bottom" (click)="removerContato(rowIndex)">
                        <i class="fa fa-trash botao-excluir"></i>
                      </a>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="6">
                      Nenhum registro encontrado
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
        <!--Fim contato-->

          </div>
        </div>
      </div>


        <!--Início modal contato-->
        <p-dialog header="{{editandoContato? 'Editando contato':'Novo contato' }}" [(visible)]="visibleDialogContato"
          modal="modal" [style]="{width: '800px'}" [responsive]="true">

          <div class="ui-g-12">
            <div class="ui-g-8 ui-md-6 ui-fluid">
              <div class="form-group">
                <label for="email">E-mail</label>
                <br />
                <input pInputText type="text" name="email" [(ngModel)]="contato.email" maxlength="80"
                   [ngClass]="email? 'sucessoInput':'erroInput'" class="form-control">
              </div>
            </div>

            <div class="ui-g-4 ui-md-4 ui-fluid">
              <div class="form-group">
                  <label for="telefone">Telefone</label>
                  <br />
                  <p-inputMask name="telefone" [(ngModel)]="contato.telefone" mask="(99) 9 9999-9999"
                  [ngClass]="telefone? 'sucessoSelect':'erroSelect'"></p-inputMask>
                </div>
            </div>


            <div class="ui-g-4 ui-md-2 ui-fluid">
              <div class="form-group">
                  <label for="ramal">Ramal</label>
                  <br />
                  <p-inputMask name="ramal" [(ngModel)]="contato.ramal" mask="9999"></p-inputMask>
                </div>
            </div>
          </div>

          <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
              <button type="button" pButton icon="pi pi-times" (click)="cancelarModal()" label="Cancelar"
                class="ui-button-danger"></button>
              <button type="button" pButton icon="pi pi-check" (click)="salvarContato(contato)"
                label="Confirmar"></button>
            </div>
          </p-footer>
        </p-dialog>
        <!--Fim modal contato-->
      </p-tabPanel>
      <!--Fim dados profissionais-->


      <!--Início plano de férias-->
      <p-tabPanel header="Plano de Férias">
           <!--Início plano-->
           <div class="card periodo">

            <div class="card-body">
              <div class="row">

                  <button pButton title="Adicionar férias"
                  tooltipPosition="bottom"
                  class="botao-contato"
                  icon="fa fa-plus"
                  (click)="showDialogFerias()">
                  <!-- <i class="fa fa-plus botao-contato"></i> -->
                </button>

                <p-table [value]="planoFeriasSelecionados" [responsive]="true">
                  <ng-template pTemplate="header">
                    <tr>
                      <th class="col-ano">Ano</th>
                      <th class="col-periodo" colspan="4">Período férias</th>
                      <th class="col-periodo" colspan="4">Período saldo</th>
                      <th class="col-acao-ferias"></th>
                    </tr>
                    <tr>
                        <th class="col-data"></th>
                        <th class="col-data">Início </th>
                        <th class="col-data">Fim</th>
                        <th class="col-data">Qtd dias</th>
                        <th class="col-status">Status</th>

                        <th class="col-data">Início </th>
                        <th class="col-data">Fim</th>
                        <th class="col-data">Qtd dias</th>
                        <th class="col-status">Status</th>
                        <th class="col-acao-ferias"></th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-planoFerias let-rowIndex="rowIndex">
                    <tr>
                      <td class="col-ano">{{planoFerias.ano}}</td>
                      <td class="col-data">{{planoFerias.dataInicial | date:'dd/MM/yyyy'}}</td>
                      <td class="col-data">{{planoFerias.dataFinal | date:'dd/MM/yyyy'}}</td>
                      <td class="col-data">{{planoFerias.quantidadeDias}}</td>
                      <td class="col-data">{{planoFerias.statusFerias}}</td>

                      <td class="col-data">{{planoFerias.dataInicialSaldo | date:'dd/MM/yyyy'}}</td>
                      <td class="col-data">{{planoFerias.dataFinalSaldo | date:'dd/MM/yyyy'}}</td>
                      <td class="col-data">{{planoFerias.quantidadeDiasSaldo}}</td>
                      <td class="col-data">{{planoFerias.statusFeriasSaldo}}</td>

                      <td class="col-acao-ferias">
                        <a icon="fa fa-edit" title="Editar" tooltipPosition="bottom"
                          (click)="editarPlanoFerias(planoFerias, rowIndex)">
                          <i class="fa fa-edit botao-acao"></i>
                        </a>

                        <a icon="fa fa-print" title="Imprimir" tooltipPosition="bottom"
                        (click)="editarPlanoFerias(planoFerias, rowIndex)">
                        <i class="fa fa-print botao-acao"></i>
                      </a>

                        <a icon="fa fa-trash" title="Excluir" tooltipPosition="bottom" (click)="removerPlanoFerias(rowIndex)">
                          <i class="fa fa-trash botao-excluir"></i>
                        </a>

                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="9">
                        Nenhum registro encontrado
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>

        <p-dialog header="{{editandoPlanoFerias? 'Editando plano de férias':'Novo plano de férias' }}" [(visible)]="visibleDialogFerias"
          modal="modal" [style]="{width: '800px'}" [responsive]="true">
          <p-scrollPanel [style]="{width: '100%', height: '500px'}">

          <div class="card periodo">
              <div class="card-header">
                <strong>Período de férias</strong>
              </div>
              <div class="card-body">
                <div class="row">

                    <div class="ui-g-8 ui-md-2 ui-fluid">
                        <div class="form-group">
                          <label for="ano">Ano</label>
                          <br />
                          <input pInputText type="number" name="ano" [(ngModel)]="planoFerias.ano" maxlength="30" class="form-control">
                        </div>
                      </div>

                      <div class="ui-g-12 ui-md-3 ui-fluid">
                        <div class="form-group">
                        <label for="statusFerias">Status</label>
                        <br />
                        <p-dropdown [options]="statusFerias" [filter]="false" placeholder="Selecione"
                        name="statusFerias" [(ngModel)]="planoFerias.statusFerias" ></p-dropdown>
                        </div>
                      </div>

                      <div class="ui-g-12 ui-md-5 ui-fluid">
                        <div class="form-group">
                          <label for="dataSolicitacao">Data Solicitação</label>
                          <br />
                          <p-calendar name="dataSolicitacao" [(ngModel)]="planoFerias.dataSolicitacao"
                          [monthNavigator]="true" [yearNavigator]="true"  yearRange="1900:2030"
                          [locale]="locale.es" dateFormat="dd/mm/yy" [showIcon]="true"
                          ></p-calendar>
                        </div>
                      </div>

                      <div class="ui-g-12 ui-md-5 ui-fluid">
                          <div class="form-group">
                            <label for="dataInicial">Data início</label>
                            <br />
                            <p-calendar name="dataInicial" [(ngModel)]="planoFerias.dataInicial"
                            [monthNavigator]="true" [yearNavigator]="true"  yearRange="1900:2030"
                            [locale]="locale.es" dateFormat="dd/mm/yy" [showIcon]="true"
                            (ngModelChange)="calcularDiaFerias(planoFerias.dataInicial, planoFerias.dataFinal)"
                            ></p-calendar>
                          </div>
                        </div>

                    <div class="ui-g-12 ui-md-5 ui-fluid">
                      <div class="form-group">
                        <label for="dataFinal">Data fim</label>
                        <br />
                        <p-calendar name="dataFinal" [(ngModel)]="planoFerias.dataFinal"
                        [monthNavigator]="true" [yearNavigator]="true"  yearRange="1900:2030"
                        [locale]="locale.es" dateFormat="dd/mm/yy" [showIcon]="true"
                        (ngModelChange)="calcularDiaFerias(planoFerias.dataInicial, planoFerias.dataFinal)"
                        ></p-calendar>
                      </div>
                    </div>

                    <div class="ui-g-8 ui-md-2 ui-fluid">
                        <div class="form-group">
                          <label for="quantidadeDias">Qtd dias</label>
                          <br />
                          <input pInputText type="number" name="quantidadeDias" [(ngModel)]="planoFerias.quantidadeDias" maxlength="30"
                           class="form-control">
                        </div>
                      </div>

                      <div class="ui-g-12 ui-md-12 ui-fluid">
                        <div class="form-group">
                      <label for="observacao">Observação</label>
                      <br />
                      <textarea pInputTextarea name="observacao" [(ngModel)]="planoFerias.observacao" #observacao="ngModel"
                      class="form-control" ></textarea>
                    </div>
                    </div>

                </div>
              </div>
            </div>


          <div class="card periodo">
            <div class="card-header">
              <strong>Saldo de férias</strong>
            </div>
            <div class="card-body">
              <div class="row">

                  <div class="ui-g-12 ui-md-5 ui-fluid">
                      <div class="form-group">
                      <label for="statusFeriasSaldo">Status</label>
                      <br />
                      <p-dropdown [options]="statusFerias" [filter]="false" placeholder="Selecione"
                      name="statusFeriasSaldo" [(ngModel)]="planoFerias.statusFeriasSaldo" ></p-dropdown>
                      </div>
                    </div>

                  <div class="ui-g-12 ui-md-5 ui-fluid">
                      <div class="form-group">
                        <label for="dataSolicitacaoSaldo">Data Solicitação</label>
                        <br />
                        <p-calendar name="dataSolicitacaoSaldo" [(ngModel)]="planoFerias.dataSolicitacaoSaldo"
                        [monthNavigator]="true" [yearNavigator]="true"  yearRange="1900:2030"
                        [locale]="locale.es" dateFormat="dd/mm/yy" [showIcon]="true"
                        ></p-calendar>
                      </div>
                    </div>

                    <div class="ui-g-8 ui-md-2 ui-fluid">
                      <div class="form-group">
                        <label for="qtdSaldo">Saldo dias</label>
                        <br />
                        <input pInputText type="number" name="qtdSaldo" [(ngModel)]="qtdSaldo" maxlength="30"
                         class="form-control">
                      </div>
                    </div>

                  <div class="ui-g-12 ui-md-5 ui-fluid">
                      <div class="form-group">
                        <label for="dataInicialSaldo">Data início</label>
                        <br />
                        <p-calendar name="dataInicialSaldo" [(ngModel)]="planoFerias.dataInicialSaldo"
                        [monthNavigator]="true" [yearNavigator]="true"  yearRange="1900:2030"
                        [locale]="locale.es" dateFormat="dd/mm/yy" [showIcon]="true"
                        (ngModelChange)="calcularDiaSaldoFerias(planoFerias.dataInicialSaldo, planoFerias.dataFinalSaldo)"
                        ></p-calendar>
                      </div>
                    </div>

                <div class="ui-g-12 ui-md-5 ui-fluid">
                  <div class="form-group">
                    <label for="dataFinalSaldo">Data fim</label>
                    <br />
                    <p-calendar name="dataFinalSaldo" [(ngModel)]="planoFerias.dataFinalSaldo"
                    [monthNavigator]="true" [yearNavigator]="true"  yearRange="1900:2030"
                    [locale]="locale.es" dateFormat="dd/mm/yy" [showIcon]="true"
                    (ngModelChange)="calcularDiaSaldoFerias(planoFerias.dataInicialSaldo, planoFerias.dataFinalSaldo)"
                    ></p-calendar>
                  </div>
                </div>

                <div class="ui-g-8 ui-md-2 ui-fluid">
                    <div class="form-group">
                      <label for="quantidadeDiasSaldo">Qtd dias</label>
                      <br />
                      <input pInputText type="number" name="quantidadeDiasSaldo" [(ngModel)]="planoFerias.quantidadeDiasSaldo" maxlength="30"
                       class="form-control">
                    </div>
                  </div>

                  <div class="ui-g-12 ui-md-12 ui-fluid">
                    <div class="form-group">
                  <label for="observacaoSaldo">Observação</label>
                  <br />
                  <textarea pInputTextarea name="observacaoSaldo" [(ngModel)]="planoFerias.observacaoSaldo" #observacaoSaldo="ngModel"
                  [ngClass]="observacaoSaldo? 'sucessoInput':'erroInput'" class="form-control" ></textarea>
                </div>
                </div>

              </div>
            </div>
          </div>


          <div class="card periodo" *ngIf="temSaldoRestante">
              <div class="card-header">
                <strong>Saldo de férias restante</strong>
              </div>
              <div class="card-body">
                <div class="row">

                    <div class="ui-g-12 ui-md-5 ui-fluid">
                        <div class="form-group">
                        <label for="statusFeriasSaldoRestante">Status</label>
                        <br />
                        <p-dropdown [options]="statusFerias" [filter]="false" placeholder="Selecione"
                        name="statusFeriasSaldoRestante" [(ngModel)]="planoFerias.statusFeriasSaldoRestante" ></p-dropdown>
                        </div>
                      </div>

                    <div class="ui-g-12 ui-md-5 ui-fluid">
                        <div class="form-group">
                          <label for="dataSolicitacaoSaldoRestante">Data Solicitação</label>
                          <br />
                          <p-calendar name="dataSolicitacaoSaldoRestante" [(ngModel)]="planoFerias.dataSolicitacaoSaldoRestante"
                          [monthNavigator]="true" [yearNavigator]="true"  yearRange="1900:2030"
                          [locale]="locale.es" dateFormat="dd/mm/yy" [showIcon]="true"
                          ></p-calendar>
                        </div>
                      </div>

                    <div class="ui-g-8 ui-md-2 ui-fluid">
                      <div class="form-group">
                        <label for="qtdSaldoRestante">Saldo dias</label>
                        <br />
                        <input pInputText type="number" name="qtdSaldoRestante" [(ngModel)]="qtdSaldoRestante" maxlength="30"
                         class="form-control">
                      </div>
                    </div>

                    <div class="ui-g-12 ui-md-5 ui-fluid">
                        <div class="form-group">
                          <label for="dataInicialSaldoRestante">Data início</label>
                          <br />
                          <p-calendar name="dataInicialSaldoRestante" [(ngModel)]="planoFerias.dataInicialSaldoRestante"
                          [monthNavigator]="true" [yearNavigator]="true"  yearRange="1900:2030"
                          [locale]="locale.es" dateFormat="dd/mm/yy" [showIcon]="true"
                          (ngModelChange)="calcularDiaSaldoRestanteFerias(planoFerias.dataInicialSaldoRestante, planoFerias.dataFinalSaldoRestante)"
                          ></p-calendar>
                        </div>
                      </div>

                  <div class="ui-g-12 ui-md-5 ui-fluid">
                    <div class="form-group">
                      <label for="dataFinalSaldoRestante">Data fim</label>
                      <br />
                      <p-calendar name="dataFinalSaldoRestante" [(ngModel)]="planoFerias.dataFinalSaldoRestante"
                      [monthNavigator]="true" [yearNavigator]="true"  yearRange="1900:2030"
                      [locale]="locale.es" dateFormat="dd/mm/yy" [showIcon]="true"
                      (ngModelChange)="calcularDiaSaldoRestanteFerias(planoFerias.dataInicialSaldoRestante, planoFerias.dataFinalSaldoRestante)"
                      ></p-calendar>
                    </div>
                  </div>

                  <div class="ui-g-8 ui-md-2 ui-fluid">
                      <div class="form-group">
                        <label for="quantidadeDiasSaldoRestante">Qtd dias</label>
                        <br />
                        <input pInputText type="number" name="quantidadeDiasSaldoRestante" [(ngModel)]="planoFerias.quantidadeDiasSaldoRestante" maxlength="30"
                         class="form-control">
                      </div>
                    </div>

                    <div class="ui-g-12 ui-md-12 ui-fluid">
                      <div class="form-group">
                    <label for="observacaoSaldoRestante">Observação</label>
                    <br />
                    <textarea pInputTextarea name="observacaoSaldoRestante" [(ngModel)]="planoFerias.observacaoSaldoRestante" #observacaoSaldo="ngModel"
                    [ngClass]="observacaoSaldoRestante? 'sucessoInput':'erroInput'" class="form-control" ></textarea>
                  </div>
                  </div>

                </div>
              </div>
            </div>
          </p-scrollPanel>
          <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
              <button type="button" pButton icon="pi pi-times" (click)="cancelarModalFerias()" label="Cancelar"
                class="ui-button-danger"></button>
              <button type="button" pButton icon="pi pi-check" (click)="salvaPlanoFerias(planoFerias)"
                label="Confirmar"></button>
            </div>
          </p-footer>
        </p-dialog>
        <!--Fim plano-->
      </p-tabPanel>
      <!--Fim plano de férias-->


      <!--Início atribuicao-->
      <p-tabPanel header="Prevenção/Distribuição">
          <div class="card periodo">

              <div class="card-body">
                <div class="row">
      <!--Início Orgao-->
      <div class="card periodo ui-g-12 ui-md-12 ui-fluid">
          <div class="card-header">
            <strong>Orgão
            <a title="Adicionar orgão"
              tooltipPosition="bottom"
              (click)="adicionarOrgao()">
              <i class="fa fa-plus-square botao-adicionar" style="float: right;"></i>
            </a></strong>
          </div>
          <div class="card-body">
            <div class="row">

              <p-table [value]="orgaosSelecionados" [responsive]="true">
                <ng-template pTemplate="header">
                  <tr>
                    <th  style="width: 100%;">Nome</th>
                    <th class="col-acao"></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-orgao let-rowIndex="rowIndex">
                  <tr>
                    <td style="width: 100%;">
                      <p-dropdown [options]="orgaos" [filter]="true" placeholder="Selecione"
                      name="{{orgao.id}}" [(ngModel)]="orgao.id" ></p-dropdown>
                    </td>
                    <td class="col-acao">
                      <a icon="fa fa-floppy-o" title="Salvar" tooltipPosition="bottom"
                        (click)="salvarOrgao(orgao, rowIndex)">
                        <i class="fa fa-floppy-o botao-acao"></i>
                      </a>

                      <a icon="fa fa-trash" title="Excluir" tooltipPosition="bottom" (click)="removerOrgao(orgao, rowIndex)">
                        <i class="fa fa-trash botao-excluir"></i>
                      </a>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="6">
                      Nenhum registro encontrado
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
        <!-- Fim orgão -->
        </div>
        </div>
        </div>
      </p-tabPanel>




            <!--Início requerimento-->
            <p-tabPanel header="Requerimento">
              <!--Início cadastro requerimento-->
              <div class="card periodo">

               <div class="card-body">
                 <div class="row">

                     <button pButton title="Adicionar requerimento"
                     tooltipPosition="bottom"
                     class="botao-contato"
                     icon="fa fa-plus"
                     (click)="showDialogRequerimento()">
                     <!-- <i class="fa fa-plus botao-contato"></i> -->
                   </button>

                   <p-table [value]="requerimentoSelecionados" [responsive]="true">
                     <ng-template pTemplate="header">
                       <tr>
                           <th class="col-assunto">Assunto</th>
                           <th class="col-data-inicio">Data início </th>
                           <th class="col-data-fim">Data fim</th>
                           <th class="col-observacao">Observação</th>
                           <th class="col-acao-ferias"></th>
                         </tr>
                     </ng-template>
                     <ng-template pTemplate="body" let-requerimento let-rowIndex="rowIndex">
                       <tr>
                         <td>{{requerimento.assunto.descricao}}</td>
                         <td class="col-data">{{requerimento.dataInicial | date:'dd/MM/yyyy'}}</td>
                         <td class="col-data">{{requerimento.dataFinal | date:'dd/MM/yyyy'}}</td>
                         <td>{{requerimento.observacao}}</td>

                         <td class="col-acao-ferias">
                           <a icon="fa fa-edit" title="Editar" tooltipPosition="bottom"
                             (click)="editarRequerimento(requerimento, rowIndex)">
                             <i class="fa fa-edit botao-acao"></i>
                           </a>

                           <a icon="fa fa-trash" title="Excluir" tooltipPosition="bottom" (click)="removerRequerimento(rowIndex)">
                             <i class="fa fa-trash botao-excluir"></i>
                           </a>

                         </td>
                       </tr>
                     </ng-template>
                     <ng-template pTemplate="emptymessage">
                       <tr>
                         <td colspan="9">
                           Nenhum registro encontrado
                         </td>
                       </tr>
                     </ng-template>
                   </p-table>
                 </div>
               </div>
             </div>

           <p-dialog header="{{editandoRequerimento? 'Editando requerimento':'Novo requerimento' }}" [(visible)]="visibleDialogRequerimento"
             modal="modal" [style]="{width: '900px', height: '700px'}" [responsive]="true">

             <div class="card periodo">
                 <div class="card-header">
                   <strong>Requerimento</strong>
                 </div>
                 <div class="card-body">
                   <div class="row">
                      <p-scrollPanel [style]="{width: '100%', height: '500px'}">

                      <div class="ui-g-12 ui-md-12 ui-fluid">
                          <div class="form-group">
                          <label for="assunto">Assunto</label>
                          <br />
                          <p-dropdown [options]="assuntos" [filter]="true" placeholder="Selecione" (ngModelChange)="buscarAssuntos()"
                          name="assunto" [(ngModel)]="requerimento.assunto.id"></p-dropdown>
                          </div>
                        </div>

                         <div class="ui-g-12 ui-md-6 ui-fluid">
                             <div class="form-group">
                               <label for="dataInicialR">Data início</label>
                               <br />
                               <p-calendar name="dataInicialR" [(ngModel)]="requerimento.dataInicial"
                               [monthNavigator]="true" [yearNavigator]="true"  yearRange="1900:2030"
                               [locale]="locale.es" dateFormat="dd/mm/yy" [showIcon]="true"
                               ></p-calendar>
                             </div>
                           </div>

                       <div class="ui-g-12 ui-md-6 ui-fluid">
                         <div class="form-group">
                           <label for="dataFinalR">Data fim</label>
                           <br />
                           <p-calendar name="dataFinalR" [(ngModel)]="requerimento.dataFinal"
                           [monthNavigator]="true" [yearNavigator]="true"  yearRange="1900:2030"
                           [locale]="locale.es" dateFormat="dd/mm/yy" [showIcon]="true"
                           ></p-calendar>
                         </div>
                       </div>

                         <div class="ui-g-12 ui-md-12 ui-fluid">
                           <div class="form-group">
                         <label for="observacaoR">Observação</label>
                         <br />
                         <textarea pInputTextarea name="observacaoR" [(ngModel)]="requerimento.observacao" #observacaoR="ngModel"
                         class="form-control" ></textarea>
                       </div>
                       </div>
                    </p-scrollPanel>
                   </div>
                 </div>
               </div>

             <p-footer>
               <div class="ui-dialog-buttonpane ui-helper-clearfix">
                 <button type="button" pButton icon="pi pi-times" (click)="cancelarModalRequerimento()" label="Cancelar"
                   class="ui-button-danger"></button>
                 <button type="button" pButton icon="pi pi-check" (click)="salvaRequerimento(requerimento)"
                   label="Confirmar"></button>
               </div>
             </p-footer>
           </p-dialog>
           <!--Fim cadastro requerimento-->
         </p-tabPanel>
         <!--Fim requerimento-->

  </p-tabView>
    </div>
    </div>
  </form>
</div>
