<!--Salvar -->
<button
    pButton
    type="button"
    icon="fa fa-save"
    label="Salvar"
    tooltipPosition="bottom"
    class="ui-button-primary margem-botao botao-acao"
    *ngIf="!consulta"
    (click)="salvarEntidade(formulario)">
</button>

<!--Cancelar -->
<button
    pButton
    type="button"
    icon="fa fa-close"
    label="Cancelar"
    tooltipPosition="bottom"
    class="ui-button-danger margem-botao"
    *ngIf="!consulta"
    (click)="cancelar()">
</button>

<!--Voltar -->
<a
    pButton
    icon="fa fa-undo"
    label="Voltar"
    tooltipPosition="bottom"
    class="ui-button-success margem-botao"
    [routerLink]="rotaListar"
    *ngIf="consulta">
</a>

<a
  pButton
  label="Imprimir"
  icon="fa fa-print"
  tooltipPosition="bottom"
  class="botao-imprimir"
  (click)="imprimirEntidade(codigoEntidade)"
  *ngIf="permissaoImprimir">
</a>
