<div class="container-fluid">

  <p-breadcrumb [model]="items" [home]="homeBreadcrumb"></p-breadcrumb>

  <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="profile-tab">
        <div class="separador-form"></div>
<div class="ui-g-12">
  <div class="ui-g-12">
    <h4 style="text-align: center"><i class="fa fa-bar-chart"></i> Gráfico controle de prazos</h4>
  </div>

  <form autocomplete="off" (ngSubmit)="configurarGraficoPizza()">

      <div class="card bg-light mb-12">
        <div class="card-body">
          <div class="row">
              <div class="ui-g-12 ui-md-12 ui-fluid">
                  <div class="form-group">
                  <label for="prazo">Gerar gráfico por:</label>
                  <br />
                  <p-dropdown [options]="prazos" [filter]="false" placeholder="Selecione"
                  name="prazo" [(ngModel)]="prazo"></p-dropdown>
                  </div>
                </div>

                <div class="card-footer ui-g-12 ui-md-12 ui-fluid">
                  <button pButton type="submit" icon="fa fa-bar-chart" label="Gerar" class="botao"></button>
                </div>

                <!-- Gráficos -->

              <div class="ui-g-12 ui-md-6 ui-fluid">
                <p-panel header="Processos por Advogado">
                  <p-chart type="pie" [data]="pieChartData" [options]="options"></p-chart>
                </p-panel>
                </div>

                <div class="ui-g-12 ui-md-6 ui-fluid">
                  <p-panel header="Processos por Advogado">
                    <p-chart type="line" [data]="lineChartData" [options]="options"></p-chart>
                  </p-panel>
                </div>

                <div class="ui-g-12 ui-md-6 ui-fluid">
                  <p-panel header="Processos por UGB">
                    <p-chart type="pie" [data]="polarChartData" [options]="options"></p-chart>
                  </p-panel>
                </div>

            <div class="ui-g-12 ui-md-6 ui-fluid">
              <p-panel header="Processos por UGB">
                <p-chart type="bar" [data]="barChartData" [options]="options"></p-chart>
              </p-panel>
            </div>

          </div>
        </div>

      </div>
    </form>

</div>
</div>


</div>
</div>

