<div class="container-fluid">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

    <p-breadcrumb [model]="items" [home]="homeBreadcrumb"></p-breadcrumb>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="profile-tab">
          <div class="separador-form"></div>
  <div class="ui-g-12">
    <div class="ui-g-12">
      <h4 style="text-align: center"><i class="fa fa-print"></i> Relatório plano de férias</h4>
    </div>

    <form autocomplete="off" (ngSubmit)="gerar()">

        <div class="card bg-light mb-12">
          <div class="card-body">
            <div class="row">

                <div class="ui-g-12 ui-md-3 ui-fluid">
                    <div class="form-group">
                      <label for="info_consulta">Ano</label>
                      <input pInputText type="number" class="form-control" name="ano" [(ngModel)]="ano" maxlength="30">
                    </div>
                  </div>

                  <div class="ui-g-12 ui-md-3 ui-fluid">
                    <div class="form-group">
                          <label for="info_consulta">Periodo inicio</label>
                      <p-calendar name="periodoInicio" [(ngModel)]="periodoInicio"
                      [ngClass]="periodoInicio? 'sucessoSelect':'erroSelect'"
                      [monthNavigator]="true" [yearNavigator]="true"  yearRange="1900:2030"
                      [locale]="locale.es" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                    </div>
                  </div>

              <div class="ui-g-12 ui-md-3 ui-fluid">
                <div class="form-group">
                      <label for="info_consulta">Periodo final</label>
                  <p-calendar name="periodoFim" [(ngModel)]="periodoFim"
                  [ngClass]="periodoFim? 'sucessoSelect':'erroSelect'"
                  [monthNavigator]="true" [yearNavigator]="true"  yearRange="1900:2030"
                  [locale]="locale.es" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                </div>
              </div>

              <div class="ui-g-12 ui-md-3 ui-fluid">
                <div class="form-group">
                <label for="ugb">UGB</label>
                <br />
                <p-dropdown [options]="ugbs" [filter]="false" placeholder="Selecione"
                name="ugb" [(ngModel)]="ugb"></p-dropdown>
                </div>
              </div>

            </div>
          </div>
          <div class="card-footer">
              <button pButton type="submit" icon="fa fa-print" label="Gerar" class="botao"></button>
              <button type="button" pButton class="ui-button-danger" icon="fa fa-eraser" label="Limpar"(click)="limparFiltro()"></button>
            </div>
        </div>

    </form>
  </div>
</div>


</div>
</div>

