<app-header></app-header>
<app-side-bar></app-side-bar>

<!-- Conteúdo-->
<div class="container-fluid content-ciof">
    <div class="row">
      <main role="main" class="main col-md-9 ml-sm-auto col-lg-10">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
  <footer>
      <span>SeinfraSin - Sistemas Integrados da Seinfra - Versão 1.0</span><br/>
      <span>Desenvolvido e mantido pela Coordenadoria de Tecnologia da Informação - COTEC</span>
  </footer>


