<div class="container-fluid">

    <div class="ui-g">
      <div class="ui-g-12 breadcrumb">
          <p-breadcrumb [model]="items" [home]="homeBreadcrumb"></p-breadcrumb>
        </div>
    </div>

    <div class="separador-form"></div>

        <form #f="ngForm" autocomplete="off">

          <div class="ui-g">
            <div class="ui-g-12">
              <app-menu-form [rotaListar]="rotaListar" [consulta]="consulta" [entidade]="entidade" [formulario]="f"
              (imprimir)="imprimir($event)" [permissaoImprimir]="segurancaService.temPermissao('PERMISSAO_IMPRIMIR')"
              (salvar)="salvar($event)"></app-menu-form>
            </div>

            <div class="ui-g-12">

                <div class="card periodo">
                    <div class="card-header">
                      <strong>Dados</strong>
                    </div>
                    <div class="card-body">
                      <div class="row">
                          <div class="ui-g-12 ui-md-6 ui-fluid">
                              <div class="form-group">
                            <label for="descricao">Descrição</label>
                            <br />
                            <input pInputText type="text" name="descricao" [(ngModel)]="entidade.descricao"
                            #descricao="ngModel" required minlength="3" maxlength="30" [disabled]="consulta"
                            [ngClass]="descricao? 'sucessoInput':'erroInput'" class="form-control">
                          </div>
                        </div>

                        <div class="ui-g-12 ui-md-6 ui-fluid">
                            <div class="form-group">
                          <label for="role">Role</label>
                          <br />
                          <input pInputText type="text" name="role" [(ngModel)]="entidade.role"
                          #role="ngModel" required minlength="3" maxlength="30" [disabled]="consulta"
                          [ngClass]="role? 'sucessoInput':'erroInput'" class="form-control">
                        </div>
                      </div>

                      </div>
                    </div>
                  </div>

            </div>
          </div>
        </form>
    </div>
