<div class="container-fluid">

<div class="ui-g">
  <div class="ui-g-12 breadcrumb">
      <p-breadcrumb [model]="items" [home]="homeBreadcrumb"></p-breadcrumb>
    </div>
</div>

<div class="separador-form"></div>

    <form #f="ngForm" autocomplete="off">

      <div class="ui-g">
        <div class="ui-g-12">
          <app-menu-form [rotaListar]="rotaListar" [consulta]="consulta" [entidade]="entidade" [formulario]="f"
          (imprimir)="imprimir($event)" [permissaoImprimir]="segurancaService.temPermissao('PASTA_IMPRIMIR')"
          (salvar)="salvar($event)"></app-menu-form>
        </div>

        <div class="ui-g-12">

            <div class="card periodo">
                <div class="card-header">
                  <strong>Dados</strong>
                </div>
                <div class="card-body">
                  <div class="row">
                      <div class="ui-g-12 ui-md-12 ui-fluid">
                          <div class="form-group">
                        <label for="nome">Nome</label>
                        <br />
                        <input pInputText type="text" name="nome" [(ngModel)]="entidade.nome"
                        #nome="ngModel" required minlength="3" maxlength="30"
                        [ngClass]="nome? 'sucessoInput':'erroInput'" class="form-control">
                      </div>
                    </div>

                    <div class="ui-g-12 ui-md-4 ui-fluid">
                        <div class="form-group">
                      <label for="numero">Número</label>
                      <br />
                      <input pInputText type="number" name="numero" [(ngModel)]="entidade.numero"
                      #numero="ngModel" required minlength="3" maxlength="30"
                      [ngClass]="numero? 'sucessoInput':'erroInput'" class="form-control">
                    </div>
                  </div>

                  <div class="ui-g-12 ui-md-4 ui-fluid">
                    <div class="form-group">
                  <label for="caixa">Caixa</label>
                  <br />
                  <p-dropdown [options]="caixas" [filter]="false" placeholder="Selecione" (ngModelChange)="buscarCaixas()"
                  name="caixa" [(ngModel)]="entidade.caixa.id" >caixa</p-dropdown>
                  </div>
                  </div>

                  <div class="ui-g-12 ui-md-4 ui-fluid">
                      <div class="form-group">
                    <label for="ano">Ano</label>
                    <br />
                    <input pInputText type="number" name="ano" [(ngModel)]="entidade.ano"
                    #ano="ngModel" required minlength="3" maxlength="30"
                    [ngClass]="ano? 'sucessoInput':'erroInput'" class="form-control">
                  </div>
                </div>
                  </div>
                </div>
              </div>

        </div>
      </div>
    </form>
</div>
