<app-menu></app-menu>

<p-confirmDialog header="Confirmação" icon="fa fa-question-circle" #confirmacao>
    <p-footer>
        <button type="button" pButton icon="fa fa-check" label="Sim" (click)="confirmacao.accept()"></button>
        <button type="button" class="ui-button-danger" pButton icon="fa fa-times" label="Não" (click)="confirmacao.reject()"></button>
    </p-footer>
</p-confirmDialog>
