<p-sidebar [(visible)]="display" [autoZIndex]="false">

  <div id="accordion" *ngIf="segurancaService.temPermissao('CADASTRO_MENU')">

    <h6 class="sidebar-heading">
      <a class="" data-toggle="collapse" data-parent="#accordion" href="#menuA" >
        <i class="fa fa-edit" aria-hidden="true"></i>
        <span>Cadastro</span>
      </a>
    </h6>

    <ul id="menuA" class="group-menu collapse in">

        <li class="nav-item" *ngIf="segurancaService.temPermissao('CHECKLIST_CONSULTAR')">
            <a class="nav-link" routerLink="/asjur/checklist/listar" (click)="esconderMenu()">
              <i class="fa fa-square" aria-hidden="true" ></i>
              Checklist
            </a>
          </li>

        <li class="nav-item" *ngIf="segurancaService.temPermissao('ARMARIO_CONSULTAR')">
            <a class="nav-link" routerLink="/asjur/armario/listar" (click)="esconderMenu()">
              <i class="fa fa-square" aria-hidden="true" ></i>
              Armário
            </a>
          </li>

        <li class="nav-item" *ngIf="segurancaService.temPermissao('CAIXA_CONSULTAR')">
            <a class="nav-link" routerLink="/asjur/caixa/listar" (click)="esconderMenu()">
              <i class="fa fa-square" aria-hidden="true" ></i>
              Caixa
            </a>
          </li>

          <li class="nav-item" *ngIf="segurancaService.temPermissao('PASTA_CONSULTAR')">
            <a class="nav-link" routerLink="/asjur/pasta/listar" (click)="esconderMenu()">
              <i class="fa fa-square" aria-hidden="true" ></i>
              Pasta
            </a>
          </li>

        <li class="nav-item" *ngIf="segurancaService.temPermissao('TIPO_DOCUMENTO_CONSULTAR')">
            <a class="nav-link" routerLink="/asjur/tipo-documento/listar" (click)="esconderMenu()">
              <i class="fa fa-square" aria-hidden="true" ></i>
              Tipo Documento
            </a>
          </li>

          <li class="nav-item" *ngIf="segurancaService.temPermissao('ASSUNTO_CONSULTAR')">
              <a class="nav-link" routerLink="/asjur/assunto/listar" (click)="esconderMenu()">
                <i class="fa fa-square" aria-hidden="true" ></i>
                Assunto
              </a>
            </li>

            <li class="nav-item" *ngIf="segurancaService.temPermissao('REFERENCIA_CONSULTAR')">
                <a class="nav-link" routerLink="/asjur/referencia/listar" (click)="esconderMenu()">
                  <i class="fa fa-square" aria-hidden="true" ></i>
                  Referência
                </a>
              </li>

          <li class="nav-item" *ngIf="segurancaService.temPermissao('DOCUMENTO_JURIDICO_CONSULTAR')">
              <a class="nav-link" routerLink="/asjur/documento-juridico/listar" (click)="esconderMenu()">
                <i class="fa fa-square" aria-hidden="true" ></i>
                Documento Jurídico
              </a>
            </li>
            <li class="nav-item" *ngIf="segurancaService.temPermissao('ORGAO_CONSULTAR')">
              <a class="nav-link" routerLink="/asjur/orgao/listar" (click)="esconderMenu()">
                <i class="fa fa-square" aria-hidden="true" ></i>
                Orgão
              </a>
            </li>
          <li class="nav-item" *ngIf="segurancaService.temPermissao('PROCESSO_CONSULTAR')">
              <a class="nav-link" routerLink="/asjur/processo/listar" (click)="esconderMenu()">
                <i class="fa fa-square" aria-hidden="true" ></i>
                Processo
              </a>
            </li>

    </ul>
  </div>

  <div id="accordion" *ngIf="segurancaService.temPermissao('DOCUMENTO_MENU')">

    <h6 class="sidebar-heading">
      <a class="" data-toggle="collapse" data-parent="#accordion" href="#menuB" >
        <i class="fa fa-address-card" aria-hidden="true"></i>
        <span>Importar documento SAD</span>
      </a>
    </h6>

    <ul id="menuB" class="group-menu collapse in">
      <li class="nav-item" *ngIf="segurancaService.temPermissao('DOCUMENTO_CONSULTAR')">
        <a class="nav-link" routerLink="/asjur/documento/listar" (click)="esconderMenu()">
          <i class="fa fa-square" aria-hidden="true" ></i>
          Documento
        </a>
      </li>

      </ul>
</div>

  <div id="accordion" *ngIf="segurancaService.temPermissao('RECURSOS_HUMANOS_MENU')">

    <h6 class="sidebar-heading">
      <a class="" data-toggle="collapse" data-parent="#accordion" href="#menuC" >
        <i class="fa fa-address-card" aria-hidden="true"></i>
        <span>Recursos Humanos</span>
      </a>
    </h6>

    <ul id="menuC" class="group-menu collapse in">
      <li class="nav-item" *ngIf="segurancaService.temPermissao('FUNCIONARIO_CONSULTAR')">
          <a class="nav-link" routerLink="/asjur/funcionario/listar" (click)="esconderMenu()">
            <i class="fa fa-square" aria-hidden="true" ></i>
            Funcionário
          </a>
        </li>

      <li class="nav-item" *ngIf="segurancaService.temPermissao('CARGO_CONSULTAR')">
          <a class="nav-link" routerLink="/asjur/cargo/listar" (click)="esconderMenu()">
            <i class="fa fa-square" aria-hidden="true" ></i>
            Cargo / Função
          </a>
        </li>

      </ul>
</div>

<div id="accordion" *ngIf="segurancaService.temPermissao('SEGURANCA_MENU')">

  <h6 class="sidebar-heading">
    <a class="" data-toggle="collapse" data-parent="#accordion" href="#menuD" >
      <i class="fa fa-user-circle" aria-hidden="true"></i>
      <span>Segurança</span>
    </a>
  </h6>

  <ul id="menuD" class="group-menu collapse in">

    <li class="nav-item" *ngIf="segurancaService.temPermissao('USUARIO_CONSULTAR')">
        <a class="nav-link" routerLink="/asjur/usuario/listar" (click)="esconderMenu()">
          <i class="fa fa-square" aria-hidden="true" ></i>
          Usuário
        </a>
      </li>

      <li class="nav-item" *ngIf="segurancaService.temPermissao('PERFIL_CONSULTAR')">
        <a class="nav-link" routerLink="/asjur/perfil/listar" (click)="esconderMenu()">
          <i class="fa fa-square" aria-hidden="true" ></i>
          Perfil
        </a>
      </li>

      <li class="nav-item" *ngIf="segurancaService.temPermissao('PERMISSAO_CONSULTAR')">
        <a class="nav-link" routerLink="/asjur/permissao/listar" (click)="esconderMenu()">
          <i class="fa fa-square" aria-hidden="true" ></i>
          Permissão
        </a>
      </li>
    </ul>
</div>

  <div id="accordion" *ngIf="segurancaService.temPermissao('RELATORIO_MENU')">

      <h6 class="sidebar-heading">
        <a class="" data-toggle="collapse" data-parent="#accordion" href="#menuE" >
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
          <span>Relatórios</span>
        </a>
      </h6>

      <ul id="menuE" class="group-menu collapse in">

        <li class="nav-item" *ngIf="segurancaService.temPermissao('RELATORIO_PLANO_FERIAS')">
            <a class="nav-link" routerLink="/asjur/relatorio/planoFerias" (click)="esconderMenu()">
              <i class="fa fa-square" aria-hidden="true" ></i>
              Plano de férias
            </a>
          </li>

          <li class="nav-item" *ngIf="segurancaService.temPermissao('RELATORIO_CONTROLE_JURIDICO')">
            <a class="nav-link" routerLink="/asjur/relatorio/controleJuridico" (click)="esconderMenu()">
              <i class="fa fa-square" aria-hidden="true" ></i>
              Controle de jurídico
            </a>
          </li>
          <li class="nav-item" *ngIf="segurancaService.temPermissao('RELATORIO_CONTROLE_JURIDICO_RESUMO')">
            <a class="nav-link" routerLink="/asjur/relatorio/controleJuridicoResumo" (click)="esconderMenu()">
              <i class="fa fa-square" aria-hidden="true" ></i>
              Resumo controle de jurídico
            </a>
          </li>

        <li class="nav-item" *ngIf="segurancaService.temPermissao('RELATORIO_CONTROLE_PRAZO')">
          <a class="nav-link" routerLink="/asjur/relatorio/controlePrazos" (click)="esconderMenu()">
            <i class="fa fa-square" aria-hidden="true" ></i>
            Controle de prazos geral
          </a>
        </li>

        <li class="nav-item" *ngIf="segurancaService.temPermissao('RELATORIO_CONTROLE_ENTREGA')">
          <a class="nav-link" routerLink="/asjur/relatorio/controleEntrega" (click)="esconderMenu()">
            <i class="fa fa-square" aria-hidden="true" ></i>
            Controle de Entrega
          </a>
        </li>

        </ul>
  </div>

  <div id="accordion" *ngIf="segurancaService.temPermissao('GRAFICO_MENU')">

      <h6 class="sidebar-heading">
        <a class="" data-toggle="collapse" data-parent="#accordion" href="#menuF" >
          <i class="fa fa-bar-chart" aria-hidden="true"></i>
          <span>Gráficos</span>
        </a>
      </h6>

      <ul id="menuF" class="group-menu collapse in">

        <li class="nav-item" *ngIf="segurancaService.temPermissao('GRAFICO_CONTROLE_PRAZO')">
            <a class="nav-link" routerLink="/asjur/dashboard/controlePrazos" (click)="esconderMenu()">
              <i class="fa fa-square" aria-hidden="true" ></i>
              Controle de prazos
            </a>
          </li>

        </ul>
  </div>

</p-sidebar>

<div class="col-md-2 d-md-block alertas alertas-side-bar">

<button type="text" (click)="mostrarMenu()" pButton icon="fa fa-bars" class="icon-sidebar" title="Menu"></button>

<div class="alertas-sticky">

    <div class="card mb-3">
      <div id="accordion">
        <div class="card-header">
          <i class="fa fa-bolt alta-criticidade" aria-hidden="true"></i>
          <label class="texto-alta-criticidade">Altíssima prioridade</label>
          <button class="btn btn-primary btn-sm float-right" data-toggle="collapse" title="Novos alertas" data-target="#collapseAltaCriticidadeBar" aria-expanded="true" aria-controls="collapseAltaCriticidadeBar">
            <i class="fa fa-bell" aria-hidden="true"></i><strong>{{documentoService.contAltissima}}</strong>
          </button>
        </div>
        <div class="card-body">
          <div id="collapseAltaCriticidadeBar" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-text">
              <div class="list-group texto" *ngFor="let entidade of documentoService.selecionados">
                <a *ngIf="entidade.prioridade === 'ALTISSIMA'" routerLink="/asjur/documento-juridico/{{entidade.id}}" class="list-group-item list-group-item-action">
                  <strong class="processo">{{entidade.numeroDocumento}}</strong><br/><strong class="processo">{{entidade.numeroProcesso}}</strong>
                  <span *ngIf="entidade.prazo >= 0" class="badge badge-success">Restam {{entidade.prazo}} dias</span>
                  <span *ngIf="entidade.prazo < 0" class="badge badge-danger">Restam {{entidade.prazo}} dias</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div>Total de <strong>{{documentoService.contAltissima}}</strong> alertas</div>
        </div>
      </div>
    </div>


    <div class="card mb-3">
      <div id="accordion">
        <div class="card-header">
          <i class="fa fa-exclamation-circle nedia-criticidade" aria-hidden="true"></i>
          <label class="texto-media-criticidade">Alta prioridade</label>
          <button class="btn btn-primary btn-sm float-right" data-toggle="collapse" title="Novos alertas" data-target="#collapseMediaCriticidadeBar" aria-expanded="true" aria-controls="collapseMediaCriticidadeBar">
            <i class="fa fa-bell" aria-hidden="true"></i><strong>{{documentoService.contAlta}}</strong>
          </button>
        </div>
        <div class="card-body">
          <div id="collapseMediaCriticidadeBar" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-text">
              <div class="list-group texto" *ngFor="let entidade of documentoService.selecionados">
                <a *ngIf="entidade.prioridade === 'ALTA'" routerLink="/asjur/documento-juridico/{{entidade.id}}" class="list-group-item list-group-item-action texto">
                  <strong>{{entidade.numeroDocumento}}</strong><br/><strong class="processo">{{entidade.numeroProcesso}}</strong>
                  <span *ngIf="entidade.prazo >= 0" class="badge badge-success">Restam {{entidade.prazo}} dias</span>
                  <span *ngIf="entidade.prazo < 0" class="badge badge-danger">Restam {{entidade.prazo}} dias</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div>Total de <strong>{{documentoService.contAlta}}</strong> alertas</div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div id="accordion">
        <div class="card-header">
          <i class="fa fa-exclamation-triangle baixa-criticidade" aria-hidden="true"></i>
          <label class="texto-baixa-criticidade">Média prioridade</label>
          <button class="btn btn-primary btn-sm float-right" data-toggle="collapse" title="Novos alertas" data-target="#collapseBaixaCriticidadeBar" aria-expanded="true" aria-controls="collapseBaixaCriticidadeBar">
            <i class="fa fa-bell" aria-hidden="true"></i><strong>{{documentoService.contMedia}}</strong>
          </button>
        </div>
        <div class="card-body">
          <div id="collapseBaixaCriticidadeBar" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-text">
              <div class="list-group texto" *ngFor="let entidade of documentoService.selecionados">
                <a *ngIf="entidade.prioridade === 'MEDIA'" routerLink="/asjur/documento-juridico/{{entidade.id}}" class="list-group-item list-group-item-action">
                  <strong>{{entidade.numeroDocumento}}</strong><br/><strong class="processo">{{entidade.numeroProcesso}}</strong>
                  <span *ngIf="entidade.prazo >= 0" class="badge badge-success">Restam {{entidade.prazo}} dias</span>
                  <span *ngIf="entidade.prazo < 0" class="badge badge-danger">Restam {{entidade.prazo}} dias</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div>Total de <strong>{{documentoService.contMedia}}</strong> alertas</div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div id="accordion">
        <div class="card-header">
          <i class="fa fa-exclamation sem-criticidade" aria-hidden="true"></i>
          <label class="texto-sem-criticidade">Baixa prioridade</label>
          <button class="btn btn-primary btn-sm float-right" data-toggle="collapse" title="Novos alertas" data-target="#collapseSemCriticidadeBar" aria-expanded="true" aria-controls="collapseSemCriticidadeBar">
            <i class="fa fa-bell" aria-hidden="true"></i><strong>{{documentoService.contBaixa}}</strong>
          </button>
        </div>
        <div class="card-body">
          <div id="collapseSemCriticidadeBar" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-text">
              <div class="list-group texto" *ngFor="let entidade of documentoService.selecionados">
                <a *ngIf="entidade.prioridade === 'BAIXA'" routerLink="/asjur/documento-juridico/{{entidade.id}}" class="list-group-item list-group-item-action">
                  <strong>{{entidade.numeroDocumento}}</strong><br/><strong class="processo">{{entidade.numeroProcesso}}</strong>
                  <span *ngIf="entidade.prazo >= 0" class="badge badge-success">Restam {{entidade.prazo}} dias</span>
                  <span *ngIf="entidade.prazo < 0" class="badge badge-danger">Restam {{entidade.prazo}} dias</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div>Total de <strong>{{documentoService.contBaixa}}</strong> alertas</div>
        </div>
      </div>
    </div>

</div>
</div>

