<header>
  <nav class="navbar navbar-dark sticky-top bg-top flex-md-nowrap p-0">
    <a class="navbar-brand ui-md-2" routerLink="asjur/principal">
      <span style="font-weight: bold; font-size: 18px; margin-left: 5px">ASJUR </span>
      <span style="font-weight: bold; margin-left: 5px; font-size: 13px">Assessoria Jurídica</span></a>
    <div class="identificacao">
      <div class="tools">
        <button class="icon-alerts" pButton icon="fa fa-bell" title="Alertas" routerLink="asjur/principal">
          <span class="badge-tools">{{documentoService.selecionados?.length}}</span>
        </button>
        <button class="icon-exit" pButton icon="fa fa-sign-out" title="Sair" (click)="logout()"></button>
      </div>
      <div class="usuario">
        <label class="nome-usuario">{{segurancaService.jwtPayload?.nome}}</label>
      </div>
    </div>
  </nav>
</header>

