<div class="container-fluid">

  <p-breadcrumb [model]="items" [home]="homeBreadcrumb"></p-breadcrumb>

  <div class="ui-g-8">
      <app-menu-list [rotaNovo]="rotaNovo" [rotaPadrao]="rotaPadrao"
        [codigoEntidade]="codigoEntidade" [consultar]="consultar" (excluir)="excluir($event)"
        [permissaoImprimir]="segurancaService.temPermissao('TIPO_DOCUMENTO_IMPRIMIR')"
        [permissaoNovo]="segurancaService.temPermissao('TIPO_DOCUMENTO_CADASTRAR')">
      </app-menu-list>
    </div>

    <div class="ui-g-4">
        <p-dropdown class="item-por-pagina" [options]="quantidadeItemPorPagina" [(ngModel)]="quantidadeItemPorPaginaSelecionada" optionLabel="value" (click)="pesquisar()"></p-dropdown>
        <span class="total-registros-msg item-por-pagina-msg">Itens por página:</span>
      </div>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="profile-tab">
      <div class="separador-form"></div>

      <form autocomplete="off" (ngSubmit)="pesquisar()">

      <div class="card bg-light mb-3">
        <div class="card-body">
          <div class="row">
            <div class="ui-g-12 ui-md-2 ui-fluid">
              <div class="form-group">
                <label for="info_consulta">Código</label>
                <input pInputText type="number" class="form-control" min=1 onkeypress="return event.charCode >= 48" name="id" [(ngModel)]="filtro.id">
              </div>
            </div>

            <div class="ui-g-12 ui-md-10 ui-fluid">
                <div class="form-group">
                  <label for="info_consulta">Descrição</label>
                  <input pInputText type="number" class="form-control" name="id" [(ngModel)]="filtro.id">
                </div>
              </div>
          </div>
        </div>
        <div class="card-footer">
          <app-menu-consulta (limpar)="limparFiltro()"></app-menu-consulta>
      </div>
      </div>
      </form>


      <div class="ui-g-12">
        <p-table [value]="selecionados" [responsive]="true" [paginator]="true" [rows]="filtro.itensPorPagina"
              [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)" #tabela>
          <ng-template pTemplate="header">
              <tr>
                  <th class="col-codigo">Código</th>
                  <th class="col-descricao">Descrição</th>
                  <th class="col-acao">Ações</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-entidade>
              <tr (click)="selecionarEntidade(entidade)" [ngClass]="entidade.id == codigoEntidade ?'selecionado':null">
                  <td>{{entidade.id}}</td>
                  <td>{{entidade.descricao}}</td>
                  <td class="botao-acao">
                    <app-menu-acao
                [codigoEntidade]="codigoEntidade" [consultar]="consultar" (excluir)="excluir(entidade.id)" (editar)="editar(entidade.id)"
                [permissaoEditar]="segurancaService.temPermissao('TIPO_DOCUMENTO_ALTERAR')"
                [permissaoExcluir]="segurancaService.temPermissao('TIPO_DOCUMENTO_EXCLUIR')">
              </app-menu-acao>
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="6">
                Nenhum registro encontrado
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <div class="ui-g-6 total-registros">
        <span class="total-registros-msg">Total de registros encontrados:</span>
        <span class="total-registros-valor">{{totalRegistros}}</span>
      </div>

    </div>

 </div>
</div>
