<div class="container-fluid">

  <div class="ui-g">
    <div class="ui-g-12 breadcrumb">
      <p-breadcrumb [model]="items" [home]="homeBreadcrumb"></p-breadcrumb>
    </div>
  </div>

  <div class="separador-form"></div>

  <form #f="ngForm" autocomplete="off">

    <div class="ui-g">
      <div class="ui-g-12">
        <app-menu-form [rotaListar]="rotaListar" [consulta]="consulta" [entidade]="entidade" [formulario]="f"
        (imprimir)="imprimir($event)" [permissaoImprimir]="segurancaService.temPermissao('CHECKLIST_IMPRIMIR')"
        (salvar)="salvar($event)"></app-menu-form>
      </div>

      <div class="ui-g-12">

        <!--Início dados-->
        <div class="card periodo">
            <div class="card-header">
                <strong>Classe</strong>
              </div>

          <div class="card-body">
            <div class="row">
              <div class="ui-g-12 ui-md-12 ui-fluid">
                <div class="form-group">
                  <label for="descricao">Descrição</label>
                  <br />
                    <textarea pInputTextarea name="descricao" [(ngModel)]="entidade.descricao" #descricao="ngModel"
                    [ngClass]="descricao? 'sucessoInput':'erroInput'" class="form-control" [disabled]="consulta"></textarea>
                </div>
              </div>

            </div>

          </div>
        </div>
        <!--Fim dados-->


        <!--Início tipo-->
        <div class="card periodo">
          <div class="card-header">
            <strong>Tipo
              <a title="Adicionar Tipo"
              tooltipPosition="bottom"
              (click)="showDialogTipo()">
              <i class="fa fa-plus-square botao-contato"></i>
            </a>
            </strong>
          </div>
          <div class="card-body">
            <div class="row">

              <p-table [value]="tipoSelecionados" [responsive]="true">
                <ng-template pTemplate="header">
                  <tr>
                      <th class="col-descricao-doc">Descrição</th>
                    <th class="col-acao"></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tipo let-rowIndex="rowIndex">
                  <tr>
                    <td>{{tipo.descricao}}</td>
                    <td class="col-acao">
                      <a icon="fa fa-edit" title="Editar" tooltipPosition="bottom"
                        (click)="editarTipo(tipo, rowIndex)">
                        <i class="fa fa-edit botao-acao"></i>
                      </a>

                      <a icon="fa fa-trash" title="Excluir" tooltipPosition="bottom" (click)="removerTipo(rowIndex)">
                        <i class="fa fa-trash botao-excluir"></i>
                      </a>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="6">
                      Nenhum registro encontrado
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>

        <p-dialog header="{{editandoTipo? 'Editando checkListTipo':'Novo checkListTipo' }}" [(visible)]="visibleDialogTipo"
        modal="modal" [style]="{width: '800px', height: '700px'}" [responsive]="true">

        <div class="ui-g-12">
          <p-scrollPanel [style]="{width: '100%', height: '500px'}">

          <div class="ui-g-8 ui-md-12 ui-fluid">
            <div class="form-group">
              <label for="descricaoTipo">Descrição</label>
              <br />
                <textarea pInputTextarea name="descricaoTipo" [(ngModel)]="checkListTipo.descricao" #descricaoTipo="ngModel"
                [ngClass]="descricaoTipo? 'sucessoInput':'erroInput'" class="form-control" [disabled]="consulta"></textarea>
            </div>
          </div>


        <!--Início sub-->
        <div class="card periodo">
          <div class="card-header">
            <strong>Subtipo
              <a title="Adicionar Subtipo"
              tooltipPosition="bottom"
              (click)="showDialogSub()">
              <i class="fa fa-plus-square botao-contato"></i>
            </a>
            </strong>
          </div>
          <div class="card-body">
            <div class="row">

              <p-table [value]="subSelecionados" [responsive]="true">
                <ng-template pTemplate="header">
                  <tr>
                      <th class="col-descricao-sub">Descrição</th>
                      <th class="col-complexidade">Complexidade</th>
                      <th class="col-prazo">Prazo</th>
                    <th class="col-acao"></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-subtipo let-rowIndex="rowIndex">
                  <tr>
                    <td>{{subtipo.descricao}}</td>
                    <td>{{subtipo.complexidade}}</td>
                    <td>{{subtipo.prazo}}</td>
                    <td class="col-acao">
                      <a icon="fa fa-edit" title="Editar" tooltipPosition="bottom"
                        (click)="editarSub(subtipo, rowIndex)">
                        <i class="fa fa-edit botao-acao"></i>
                      </a>

                      <a icon="fa fa-trash" title="Excluir" tooltipPosition="bottom" (click)="removerSub(rowIndex)">
                        <i class="fa fa-trash botao-excluir"></i>
                      </a>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="6">
                      Nenhum registro encontrado
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
        <!--Fim sub-->
          </p-scrollPanel>
        </div>

        <p-footer>
          <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-times" (click)="cancelarModalTipo()" label="Cancelar"
              class="ui-button-danger"></button>
            <button type="button" pButton icon="pi pi-check" (click)="salvarTipo(checkListTipo)"
              label="Confirmar"></button>
          </div>
        </p-footer>
        </p-dialog>
        <!--Fim tipo-->



        <!--Início subtipo-->
        <p-dialog header="{{editandoSub? 'Editando checkListSub':'Novo checkListSub' }}" [(visible)]="visibleDialogSub"
          modal="modal" [style]="{width: '800px', height: '700px'}" [responsive]="true">

          <div class="ui-g-12">
            <p-scrollPanel [style]="{width: '100%', height: '500px'}">

            <div class="ui-g-8 ui-md-12 ui-fluid">
              <div class="form-group">
                <label for="descricaoSub">Descrição</label>
                <br />
                  <textarea pInputTextarea name="descricaoSub" [(ngModel)]="checkListSub.descricao" #descricaoSub="ngModel"
                  [ngClass]="descricaoSub? 'sucessoInput':'erroInput'" class="form-control" [disabled]="consulta"></textarea>
              </div>
            </div>

            <div class="ui-g-4 ui-md-6 ui-fluid">
              <div class="form-group">
                  <label for="complexidade">Complexidade</label>
                  <br />
                  <p-dropdown [options]="prioridades" [filter]="false" placeholder="Selecione" (click)="buscarPrazo(checkListSub.complexidade)"
                  name="complexidade" [(ngModel)]="checkListSub.complexidade" [disabled]="consulta"></p-dropdown>
                </div>
            </div>

            <div class="ui-g-4 ui-md-6 ui-fluid">
                <div class="form-group">
                    <label for="prazo">Prazo</label>
                    <br />
                    <input pInputText type="text" name="prazo" [(ngModel)]="checkListSub.prazo" maxlength="30"
                    [disabled]="consulta" [ngClass]="checkListSub? 'sucessoInput':'erroInput'" class="form-control">
                  </div>
              </div>


          <!--Início documentação-->
           <div class="card periodo">
            <div class="card-header">
              <strong>Documentação
                <a title="Adicionar Documentação"
                tooltipPosition="bottom"
                (click)="showDialogDocumentacao()">
                <i class="fa fa-plus-square botao-contato"></i>
              </a>
              </strong>
            </div>
            <div class="card-body">
              <div class="row">

                <p-table [value]="documentoSelecionados" [responsive]="true">
                  <ng-template pTemplate="header">
                    <tr>
                        <th class="col-descricao-doc">Descrição</th>
                      <th class="col-acao"></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-doc let-rowIndex="rowIndex">
                    <tr>
                      <td>{{doc.descricao}}</td>
                      <td class="col-acao">
                        <a icon="fa fa-edit" title="Editar" tooltipPosition="bottom"
                          (click)="editarDocumentacao(doc, rowIndex)">
                          <i class="fa fa-edit botao-acao"></i>
                        </a>

                        <a icon="fa fa-trash" title="Excluir" tooltipPosition="bottom" (click)="removerDocumentacao(rowIndex)">
                          <i class="fa fa-trash botao-excluir"></i>
                        </a>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="6">
                        Nenhum registro encontrado
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
          <!--Fim documentação-->
            </p-scrollPanel>
          </div>

          <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
              <button type="button" pButton icon="pi pi-times" (click)="cancelarModalSub()" label="Cancelar"
                class="ui-button-danger"></button>
              <button type="button" pButton icon="pi pi-check" (click)="salvarSub(checkListSub, checkListTipo)"
                label="Confirmar"></button>
            </div>
          </p-footer>
        </p-dialog>
        <!--Fim subtipo-->

      <!--Início modal documentação-->
          <p-dialog header="{{editandoDocumentacao? 'Editando Documento':'Novo Documento' }}" [(visible)]="visibleDialogDocumentacao"
            modal="modal" [style]="{width: '800px'}" [responsive]="true">

            <div class="ui-g-12">
              <div class="ui-g-8 ui-md-12 ui-fluid">
                <div class="form-group">
                  <label for="descricaoDoc">Descrição</label>
                  <br />
                    <textarea pInputTextarea name="descricaoDoc" [(ngModel)]="checkListDocumento.descricao" #descricaoDoc="ngModel"
                    [ngClass]="descricaoDoc? 'sucessoInput':'erroInput'" class="form-control" [disabled]="consulta"></textarea>
                </div>
              </div>

            </div>

            <p-footer>
              <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="pi pi-times" (click)="cancelarModalDocumentacao()" label="Cancelar"
                  class="ui-button-danger"></button>
                <button type="button" pButton icon="pi pi-check" (click)="salvarDocumentacao(checkListDocumento, checkListSub)"
                  label="Confirmar"></button>
              </div>
            </p-footer>
          </p-dialog>
        <!--Fim modal documentação-->

    </div>
    </div>
  </form>
</div>
