.botao-acao {
  margin-right: 15px !important;
  color: #3c8dbc;
}

.botao-excluir {
  color: #DF4C39;
}

.botao-contato {
  color: #3c8dbc;
  font-size: 25px;
  float: right;
}

a {
  font-size: 18px;
}

.botao-adicionar {
  margin-bottom: 10px;
}

.botao-tab {
  margin-bottom: 2px;
  margin-right: 5px;
}

.col-acao {
  width: 20%;
  text-align: center;
}

.col-descricao {
  width: 100%;
  text-align: center;
}

.col-descricao-sub {
  width: 50%;
  text-align: center;
}

.col-descricao-doc {
  width: 100%;
  text-align: center;
}

.col-complexidade {
  width: 30%;
  text-align: center;
}

.col-prazo {
  width: 20%;
  text-align: center;
}

