.col-codigo {
    width: 90px !important;
    text-align: center !important;
}

.col-acao {
    width: 50px !important;
    text-align: center !important;
}

.col-nome {
    width: 100% !important;
}
