<!-- <a
  title="Consultar"
  (click)="pesquisarEntidade()">
  <i class="fa fa-search botao-consultar"></i>
</a>

<a
  title="Limpar"
  (click)="limparFiltroEntidade()">
  <i class="fa fa-window-close-o botao-excluir"></i>
</a> -->


<button
class="botao-consultar"
type="submit"
pButton
icon="fa fa-search"
label="Consultar">
</button>


<button
type="button"
class="ui-button-danger"
pButton
icon="fa fa-eraser"
label="Limpar"(click)="limparFiltroEntidade()">
</button>
