.col-codigo {
  width: 15%;
  text-align: center;
}

.col-acao {
  width: 10%;
  text-align: center;
}

.col-nome {
  width: 40%;
}

.col-numero {
width: 15%;
}

.col-ano {
width: 10%;
}

.col-caixa {
  width: 20%;
  }

  a:hover {
    color: #5cb85c !important;
  }



