<a title="Adicionar orgão"
  tooltipPosition="bottom"
  (click)="showDialogEntidade()">
  <i class="fa fa-plus-square botao-adicionar"></i>
</a>

<p-dialog header="Listagem de Credores" [(visible)]="visibleDialogEntidade" modal="modal" [style]="{width: '800px'}" [responsive]="true">
  <p-scrollPanel [style]="{width: '100%', height: '500px'}">

  <div class="card bg-light mb-3">
    <div class="card-body">
      <div class="row">
        <div class="ui-g-12 ui-md-2 ui-fluid">
          <div class="form-group">
            <label for="info_consulta">Código</label>
            <input pInputText type="number" class="form-control" name="id" [(ngModel)]="filtro.id">
          </div>
        </div>

        <div class="ui-g-12 ui-md-6 ui-fluid">
            <div class="form-group">
              <label for="info_consulta">Nome</label>
              <input pInputText type="text" class="form-control" name="nome" [(ngModel)]="filtro.nome" maxlength="30">
            </div>
          </div>

          <div class="ui-g-12 ui-md-4 ui-fluid">
            <div class="form-group">
              <label for="info_consulta">Cpf/Cnpj</label>
              <input pInputText type="text" class="form-control" name="nome" [(ngModel)]="filtro.cpfCnpj" maxlength="30">
            </div>
          </div>
      </div>
    </div>
    <div class="card-footer">
        <button pButton type="button" label="Consultar" icon="fa fa-search" class="botao-filtro margem-botao botao" (click)="pesquisarEntidade()"></button>
        <button pButton type="button" label="Limpar" icon="fa fa-eraser" class="ui-button-danger botao-filtro margem-botao botao" (click)="limparFiltro()"></button>
      </div>
  </div>

  <div class="ui-g-12 ui-md-12 ui-fluid">
    <p-table [value]="selecionados" [responsive]="true" [paginator]="true" [rows]="10"
        [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)">
      <ng-template pTemplate="header">
          <tr>
              <th class="col-codigo">Código</th>
              <th class="col-nome">Nome</th>
              <th class="col-cnpj">Cpf/Cnpj</th>
              <th class="col-acao"></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-entidade>
          <tr (click)="selecionarEntidade(entidade)" (dblclick)="confirmarModal(entidadeSelecionada)"
          [ngClass]="entidade.id == entidadeSelecionada.id ?'selecionado':null">
              <td>{{entidade.id}}</td>
              <td>{{entidade.nome}}</td>
              <td>{{entidade.cpfCnpj}}</td>
              <td>
                  <p-radioButton name="groupname" value="{{entidade.id}}" [(ngModel)]="codigoSelecionado" (click)="selecionarEntidade(entidade)"></p-radioButton>
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">
            Nenhum registro encontrado
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-scrollPanel>

  <div class="ui-g-6 total-registros">
      <span class="total-registros-msg">Total de registros encontrados:</span>
      <span class="total-registros-valor">{{totalRegistros}}</span>
  </div>

  <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="pi pi-times" (click)="cancelarModal()" label="Cancelar" class="ui-button-danger" ></button>
          <button type="button" pButton icon="pi pi-check" (click)="confirmarModal(entidadeSelecionada)" label="Confirmar"></button>
      </div>
  </p-footer>
</p-dialog>
