.col-codigo {
  width: 90px !important;
  text-align: center !important;
}

.col-acao {
  width: 50px !important;
  text-align: center !important;
  border-right: 1px solid !important;
}

.col-nome {
  width: 80% !important;
}

.col-cnpj {
  width: 30% !important;
}

.botao-adicionar {
  margin-right: 15px !important;
  color: #3c8dbc !important;
  font-size: 25px !important;
  float: right !important;
}
