<div class="container-fluid">

<div class="ui-g">
  <div class="ui-g-12 breadcrumb">
      <p-breadcrumb [model]="items" [home]="homeBreadcrumb"></p-breadcrumb>
    </div>
</div>

<div class="separador-form"></div>

    <form #f="ngForm" autocomplete="off">

      <div class="ui-g">
        <div class="ui-g-12">
          <app-menu-form [rotaListar]="rotaListar" [consulta]="consulta" [entidade]="entidade" [formulario]="f"
          (imprimir)="imprimir($event)" [permissaoImprimir]="segurancaService.temPermissao('ORGAO_IMPRIMIR')"
          (salvar)="salvar($event)"></app-menu-form>
        </div>

        <div class="ui-g-12">

            <div class="card periodo">
                <div class="card-header">
                  <strong>Dados</strong>
                </div>
                <div class="card-body">
                  <div class="row">
                      <div class="ui-g-12 ui-md-8 ui-fluid">
                          <div class="form-group">
                        <label for="nome">Nome</label>
                        <br />
                        <input pInputText type="text" name="nome" [(ngModel)]="entidade.nome"
                        #nome="ngModel" required minlength="3" maxlength="30" [disabled]="consulta"
                        [ngClass]="nome? 'sucessoInput':'erroInput'" class="form-control">
                      </div>
                    </div>

                    <div class="ui-g-12 ui-md-4 ui-fluid">
                      <div class="form-group">
                    <label for="sigla">Sigla</label>
                    <br />
                    <input pInputText type="text" name="sigla" [(ngModel)]="entidade.sigla"
                    #sigla="ngModel" required minlength="3" maxlength="30" [disabled]="consulta"
                    [ngClass]="sigla? 'sucessoInput':'erroInput'" class="form-control">
                  </div>
                </div>

                <div class="ui-g-12 ui-md-6 ui-fluid">
                  <div class="form-group">
                <label for="tipo">Tipo</label>
                <br />
                <p-dropdown [options]="tipos" [filter]="false" placeholder="Selecione"
                name="tipo" [(ngModel)]="entidade.tipo" [disabled]="consulta"></p-dropdown>
                </div>
                </div>

                <div class="ui-g-12 ui-md-6 ui-fluid">
                  <div class="form-group">
                <label for="cnpj">CNPJ</label>
                <br />
                <p-inputMask name="cnpj" [(ngModel)]="entidade.cnpj" mask="999.999.999-99" [disabled]="consulta"></p-inputMask>
              </div>
            </div>

                  </div>
                </div>
              </div>

        </div>
      </div>
    </form>
</div>
