body {
  font-size: 13px;
}
body app-root {
  padding: 0;
}
body .feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
body::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}
body::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}
body::-webkit-scrollbar-thumb {
  background: #dad7d7;
}
.content-ciof .main {
  padding-top: 58px;
  padding-bottom: 80px;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #f5f5f5;
  z-index: 1000;
  text-align: center;
  padding: 10px 0;
  font-size: 0.9em;
}
button,
a {
  cursor: pointer;
}
.btn-primary {
  background-color: #236040;
  border-color: #236040;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #00853b !important;
  border-color: #00853b !important;
  box-shadow: 0 0 0 0.2rem #7bbda9 !important;
}
.btn-secondary {
  background-color: #4f8a75;
  border-color: #4f8a75;
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  background-color: #00956b !important;
  border-color: #00956b !important;
  box-shadow: 0 0 0 0.2rem #7bbda9 !important;
}
.btn-radio .btn-secondary {
  cursor: pointer;
}
.btn-radio .btn-secondary.active {
  background-color: #fc6836 !important;
  border-color: #fc6836 !important;
  box-shadow: 0 0 0 0.2rem #f0ad4e !important;
  cursor: default;
}
.radio-tabs .nav-tabs {
  border-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}
.radio-tabs .nav-tabs .nav-item {
  margin-right: 4px;
  padding-right: 0;
  padding-left: 0;
}
.radio-tabs .nav-tabs .nav-item .nav-link {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0.5rem 0.3rem;
  font-size: 0.8rem;
}
.radio-tabs .nav-tabs .nav-item .nav-link.active {
  background-color: #fc6836 !important;
  border-color: #fc6836 !important;
  box-shadow: 0 0 0 0.2rem #f0ad4e !important;
  cursor: default;
}
.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}
.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}
.form-group label {
  background: #3c8dbc;
  margin-bottom: 0;
  color: white;
  font-weight: normal;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.form-group label .obrigatorio {
  color: #f8de2a;
}
.form-group p-checkbox .ui-state-focus {
  border-color: rgba(0, 149, 107, 0.473) !important;
  border-top-left-radius: 4px !important;
  -webkit-box-shadow: 0px 0px 0px 4px rgba(0, 149, 107, 0.473) !important;
  -moz-box-shadow: 0px 0px 0px 4px rgba(0, 149, 107, 0.473) !important;
  box-shadow: 0px 0px 0px 4px rgba(0, 149, 107, 0.473) !important;
}
/* .form-group p-checkbox .ui-state-active {
  background: #236040 !important;
  border: 1px solid #214c22;
} */
.form-group p-checkbox label {
  background: none;
  color: black;
}
.form-group .form-control {
  border-top-left-radius: 0;
}
.form-group .form-control:focus {
  border-color: rgba(0, 149, 107, 0.473) !important;
  border-top-left-radius: 4px !important;
  -webkit-box-shadow: 0px 0px 0px 4px rgba(0, 149, 107, 0.473) !important;
  -moz-box-shadow: 0px 0px 0px 4px rgba(0, 149, 107, 0.473) !important;
  box-shadow: 0px 0px 0px 4px rgba(0, 149, 107, 0.473) !important;
}
.form-group textarea {
  display: block;
  width: 100% !important;
  border-top-left-radius: 0;
}
.form-group textarea:focus {
  border-color: rgba(0, 149, 107, 0.473) !important;
  border-top-left-radius: 4px !important;
  -webkit-box-shadow: 0px 0px 0px 4px rgba(0, 149, 107, 0.473) !important;
  -moz-box-shadow: 0px 0px 0px 4px rgba(0, 149, 107, 0.473) !important;
  box-shadow: 0px 0px 0px 4px rgba(0, 149, 107, 0.473) !important;
}
.form-group p-dropdown {
  display: block;
}
.form-group p-dropdown .ui-dropdown {
  width: 100% !important;
}
.form-group p-dropdown .ui-dropdown.ui-state-focus {
  border-color: rgba(0, 149, 107, 0.473) !important;
  border-top-left-radius: 4px !important;
  -webkit-box-shadow: 0px 0px 0px 4px rgba(0, 149, 107, 0.473) !important;
  -moz-box-shadow: 0px 0px 0px 4px rgba(0, 149, 107, 0.473) !important;
  box-shadow: 0px 0px 0px 4px rgba(0, 149, 107, 0.473) !important;
}
.form-group p-dropdown .ui-dropdown.ui-corner-all {
  border-top-left-radius: 0;
}
.form-group p-dropdown .ui-dropdown .ui-dropdown-label {
  background: white;
  color: black;
  padding: 5px 6px;
}
.form-group p-dropdown .ui-dropdown .ui-dropdown-trigger .fa {
  margin-top: 0.6em;
}
/* .form-group p-dropdown .ui-dropdown .ui-dropdown-panel .ui-state-highlight {
  background: #00956b;
} */
.separador-form {
  border-bottom: 1px solid #999999;
  margin: 0.5rem 0;
}
.breadcrumb {
  margin-bottom: 0.5rem;
  background: none;
  padding: 0;
}
.breadcrumb .breadcrumb-item a {
  color: #214c22;
}
.breadcrumb .breadcrumb-item.active {
  font-weight: bold;
}
.dados-visualizados .list-group-item {
  padding: 0.25rem 0.55rem;
  background: #f5f5f5;
}
.dados-visualizados .list-group-item.active {
  background: #cccccc;
  border-color: #cccccc;
  color: #222222;
}
.dados-visualizados .badge {
  font-size: 12px;
  line-height: 19px;
  background: #00956b;
  /*
    * border-radius: 0;
    * position: absolute;
    * right: 0;
    * top: 0;
    * bottom: 0;
    * min-width: 50%;
    */
}
.dados-visualizados .badge a {
  color: white;
  text-decoration: underline;
}
.dados-visualizados .badge a:hover {
  text-decoration: none;
}
.accordion-tables .card {
  border: 1px solid #cadcd7;
}
.accordion-tables .card .card-header {
  background: #cadcd7;
  border-bottom: 1px solid #fc6836;
}
.accordion-tables .card .card-header .bnt-accordion-tables {
  background-color: #4f8a75;
  border-color: #4f8a75;
  float: left;
}
.accordion-tables .card .card-header .bnt-accordion-tables:hover,
.accordion-tables .card .card-header .bnt-accordion-tables:active,
.accordion-tables .card .card-header .bnt-accordion-tables:focus {
  background-color: #00956b !important;
  border-color: #00956b !important;
  box-shadow: 0 0 0 0.2rem #7bbda9 !important;
}
.accordion-tables .card .card-header .info-cabecalho .titulo-info-cabecalho-simples {
  margin-left: 16px;
  margin-top: 8px;
}
.accordion-tables .card .card-header .info-cabecalho ul {
  padding: 0 0 0 16px;
  margin: 0;
  list-style: none;
  font-size: 12px;
}
.accordion-tables .card .card-header .info-cabecalho ul label {
  margin: 0;
}
.accordion-tables .card .card-footer ul {
  margin-bottom: 0.1rem;
}
.accordion-tables .card .card-footer ul.pagination .page-item .page-link {
  color: #214c22;
}
.accordion-tables .card .card-footer ul.pagination .page-item.active .page-link {
  color: #fff;
  background-color: #fc6836;
  border-color: #fc6836;
}
.accordion-tables .table th {
  background: #dedede;
}
.accordion-tables .table td,
.accordion-tables .table th {
  vertical-align: middle;
}
.accordion-tables .table td .btn-sm,
.accordion-tables .table th .btn-sm {
  padding: 0.1rem 0.5rem;
}
.accordion-tables .table td.table-action {
  padding-left: 20px;
  padding-right: 20px;
  width: -moz-min-content;
  width: -webkit-min-content;
  width: min-content;
  width: 1%;
}
.accordion-tables .table td.table-action .dropdown .dropdown-toggle {
  width: 100%;
}
.accordion-tables .table td.table-action .dropdown .btn-acao {
  background-color: #4f8a75;
  border-color: #4f8a75;
}
.accordion-tables .table td.table-action .dropdown .btn-acao:hover,
.accordion-tables .table td.table-action .dropdown .btn-acao:active,
.accordion-tables .table td.table-action .dropdown .btn-acao:focus {
  background-color: #00956b !important;
  border-color: #00956b !important;
  box-shadow: 0 0 0 0.2rem #7bbda9 !important;
}
.ui-widget:disabled {
  opacity: inherit;
}
.mapa-fake {
  background-size: cover !important;
  width: 100%;
  height: 350px;
  background: url("app/image/map.png") center no-repeat;
}
.input-link input {
  width: 87%;
  float: left;
}
.input-link button.ui-button {
  color: white !important;
  float: right;
}
/*
 * Utilities
 */
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.no-margin {
  margin: 0;
}
.baixar-botao {
  padding-top: 25px;
}

.background-radial-verde {
  background: #00853b;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #00853b 0%, #236040 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #00853b 0%, #236040 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #00853b 0%, #236040 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@cor-r', endColorstr='@cor-q', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.background-linear-verde {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#397539+0,236040+100 */
  background: #00853b;
  /* Old browsers */
  background: -moz-linear-gradient(left, #00853b 0%, #236040 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #00853b 0%, #236040 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #00853b 0%, #236040 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@cor-r', endColorstr='@cor-q', GradientType=1);
  /* IE6-9 */
}
.shadow-login {
  -webkit-box-shadow: 7px 7px 0px 0px rgba(39, 61, 25, 0.75);
  -moz-box-shadow: 7px 7px 0px 0px rgba(39, 61, 25, 0.75);
  box-shadow: 7px 7px 0px 0px rgba(39, 61, 25, 0.75);
}
.shadow-input-focus {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(79, 138, 117, 0.75);
  -moz-box-shadow: 0px 0px 0px 2px rgba(79, 138, 117, 0.75);
  box-shadow: 0px 0px 0px 2px rgba(79, 138, 117, 0.75);
}
.border-radius-10 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.border-radius-0 {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.transition {
  transition: background-color 0.4s, color 0.4s;
}
.min-content {
  width: -moz-min-content;
  width: -webkit-min-content;
  width: min-content;
}
.max-content {
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
}
.estilo-btn {
  background-color: #4f8a75;
  border-color: #4f8a75;
}
.estilo-btn:hover,
.estilo-btn:active,
.estilo-btn:focus {
  background-color: #00956b !important;
  border-color: #00956b !important;
  box-shadow: 0 0 0 0.2rem #7bbda9 !important;
}
.estilo-btn-primary {
  background-color: #236040;
  border-color: #236040;
}
.estilo-btn-primary:hover,
.estilo-btn-primary:active,
.estilo-btn-primary:focus {
  background-color: #00853b !important;
  border-color: #00853b !important;
  box-shadow: 0 0 0 0.2rem #7bbda9 !important;
}
.focus:focus {
  border-color: rgba(0, 149, 107, 0.473) !important;
  border-top-left-radius: 4px !important;
  -webkit-box-shadow: 0px 0px 0px 4px rgba(0, 149, 107, 0.473) !important;
  -moz-box-shadow: 0px 0px 0px 4px rgba(0, 149, 107, 0.473) !important;
  box-shadow: 0px 0px 0px 4px rgba(0, 149, 107, 0.473) !important;
}
.slim-scrollbar::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}
.slim-scrollbar::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}
.slim-scrollbar::-webkit-scrollbar-thumb {
  background: #dad7d7;
}
.ui-sidebar-mask {
  z-index: 101;
}
p-sidebar .ui-sidebar {
  z-index: 1001;
  padding-top: 40px !important;
  width: 30em;
  max-height: 100%;
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}
p-sidebar .ui-sidebar::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}
p-sidebar .ui-sidebar::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}
p-sidebar .ui-sidebar::-webkit-scrollbar-thumb {
  background: #dad7d7;
}
p-sidebar .ui-sidebar .ui-sidebar-close {
  float: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
p-sidebar .ui-sidebar .separador-menu {
  height: 1px;
  background: #999999;
  margin: 16px 0;
  width: 100%;
  display: block;
}
p-sidebar .ui-sidebar .group-menu {
  padding: 0;
}
p-sidebar .ui-sidebar .group-menu.grupo-diversos .nav-item .nav-link {
  text-transform: uppercase;
  padding-left: .9rem;
}
p-sidebar .ui-sidebar .group-menu .nav-item {
  list-style: none;
}
p-sidebar .ui-sidebar .group-menu .nav-item .nav-link {
  font-weight: 500;
  color: #333;
  position: relative;
  padding: .5rem 1rem .5rem 2rem;
}
p-sidebar .ui-sidebar .group-menu .nav-item .nav-link i {
  font-size: 8px;
  color: #fc6836;
  position: absolute;
  top: 14px;
  left: 17px;
}
p-sidebar .ui-sidebar .group-menu .nav-item .nav-link .feather {
  margin-right: 4px;
  color: #999;
}
p-sidebar .ui-sidebar .group-menu .nav-item .nav-link.active {
  color: #4f8a75;
  background: #fff;
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
}
p-sidebar .ui-sidebar .group-menu .nav-item .nav-link:hover {
  background: #00956b;
  color: #fff;
}
p-sidebar .ui-sidebar .group-menu .nav-item .nav-link:hover i {
  color: #fff;
}
p-sidebar .ui-sidebar .sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 2px;
}
p-sidebar .ui-sidebar .sidebar-heading a {
  padding: 10px 10px 10px 16px;
  display: block;
  width: 99%;
  background: #fff;
  color: #333333;
  font-weight: bold;
}
p-sidebar .ui-sidebar .sidebar-heading a:hover {
  background: #00956b;
  color: #fff;
  text-decoration: none;
}
p-sidebar .ui-sidebar .sidebar-heading a i {
  margin-right: 3px;
}
.navbar.sticky-top {
  position: fixed;
  width: 100%;
  z-index: 100;
}
.navbar.bg-top {
  background: #00956b;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#397539+0,236040+100 */
  background: #00853b;
  /* Old browsers */
  background: -moz-linear-gradient(left, #00853b 0%, #236040 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #00853b 0%, #236040 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #00853b 0%, #236040 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@cor-r', endColorstr='@cor-q', GradientType=1);
  /* IE6-9 */
  border-bottom: 2px solid #fc6836;
}
.navbar .navbar-brand {
  font-size: 1rem;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 0.25) center no-repeat;
  background-size: contain;
  height: 48px;
  background-position: left;
}
.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}
.navbar .identificacao {
  position: absolute;
  right: 20px;
  top: 5px;
  color: #fff;
  font-size: 12px;
}
.navbar .identificacao .usuario {
  float: right;
  padding: 9px 16px 0 0;
}
.navbar .identificacao .usuario label {
  margin: 0;
}
.navbar .identificacao .tools {
  float: right;
}
.navbar .identificacao .tools .icon-exit,
.navbar .identificacao .tools .icon-messenger,
.navbar .identificacao .tools .icon-alerts {
  background: none !important;
  border: none !important;
  font-size: 22px;
  padding: 0;
}
.navbar .identificacao .tools .icon-exit:hover,
.navbar .identificacao .tools .icon-messenger:hover,
.navbar .identificacao .tools .icon-alerts:hover,
.navbar .identificacao .tools .icon-exit:focus,
.navbar .identificacao .tools .icon-messenger:focus,
.navbar .identificacao .tools .icon-alerts:focus {
  background: none !important;
  border: none !important;
}
.navbar .identificacao .tools .icon-exit .badge-tools,
.navbar .identificacao .tools .icon-messenger .badge-tools,
.navbar .identificacao .tools .icon-alerts .badge-tools {
  background: #f8de2a;
  color: black;
  padding: 0 3px;
  font-size: 12px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  position: absolute;
  z-index: 1;
}

.modal-detalhamento-contador .ui-state-default:first-child {
  width: auto !important;
}
p-datatable .ui-datatable .ui-datatable-thead .ui-state-default {
  width: 71px;
  background: #eeeeee;
  border: none;
}

/* body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
  background: #00956B;
} */

.ui-datatable .ui-datatable-thead>tr>th, .ui-datatable .ui-datatable-tfoot>tr>td, .ui-datatable .ui-datatable-data>tr>td {
  border: solid 1px #dad7d7 !important;
}
p-datatable .ui-datatable .ui-datatable-thead .ui-state-default .ui-sortable-column-icon {
  background: #afd1c6;
  color: #236040;
  padding: 3px;
  width: 22px;
  float: right;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
p-datatable .ui-datatable .ui-datatable-thead .ui-state-active {
  background: #4f8a75;
  color: #fff;
  font-weight: bold;
  border-style: solid;

}
.ui-splitbutton .ui-button {
  background: #236040;
  border: 1px solid #00853b;
}
.ui-splitbutton .ui-button:hover,
.ui-splitbutton .ui-button:active,
.ui-splitbutton .ui-button:focus {
  background: #00853b !important;
  border: 1px solid #00853b !important;
}
.ui-splitbutton .ui-menu .ui-menuitem-link:hover {
  background: #236040;
}
.ui-paginator {
  padding: .475em !important;
}
.ui-paginator .ui-paginator-pages .ui-paginator-page {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
}
.ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
  background: #fc6836;
  border-color: #fc6836;
}
.ui-paginator .ui-dropdown .ui-dropdown-panel .ui-dropdown-item.ui-state-highlight {
  background: #fc6836;
}
.ui-dropdown.ui-state-focus {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(79, 138, 117, 0.75);
  -moz-box-shadow: 0px 0px 0px 2px rgba(79, 138, 117, 0.75);
  box-shadow: 0px 0px 0px 2px rgba(79, 138, 117, 0.75);
}
.ui-dialog {
  border: 0;
}
.ui-dialog .ui-dialog-titlebar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#397539+0,236040+100 */
  background: #00853b;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@cor-r', endColorstr='@cor-q', GradientType=1);
  /* IE6-9 */
  color: #fff;
  border-bottom: 1px solid #fc6836;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {
  color: #fff;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
  border: 0;
  padding-top: 3px;
  padding-bottom: 4px;
  margin-top: 4px;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close:hover {
  background: #fff;
  color: #fc6836;
}
.ui-dialog .ui-dialog-footer {
  background: #cadcd7;
  border-top: 1px solid #fc6836;
}
.ui-button {
  /* background: #3c8dbc !important;
  border: 1px solid #3c8dbc !important; */
  width: 108px ;
}
/* .ui-button:hover,
.ui-button:active,
.ui-button:focus {
  background: #0066ff !important;
  border: 1px solid #0066ff !important;
} */
.ui-button:focus {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(79, 138, 117, 0.75);
  -moz-box-shadow: 0px 0px 0px 2px rgba(79, 138, 117, 0.75);
  box-shadow: 0px 0px 0px 2px rgba(79, 138, 117, 0.75);
}
/* .ui-calendar .ui-inputtext:focus {
  border-color: rgba(0, 149, 107, 0.473) !important;
  border-top-left-radius: 4px !important;
  -webkit-box-shadow: 0px 0px 0px 4px rgba(0, 149, 107, 0.473) !important;
  -moz-box-shadow: 0px 0px 0px 4px rgba(0, 149, 107, 0.473) !important;
  box-shadow: 0px 0px 0px 4px rgba(0, 149, 107, 0.473) !important;
} */
/* .ui-calendar .ui-datepicker .ui-datepicker-header {
  background: #00853b;
  background: -moz-linear-gradient(left, #00853b 0%, #236040 100%);
  background: -webkit-linear-gradient(left, #00853b 0%, #236040 100%);
  background: linear-gradient(to right, #00853b 0%, #236040 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@cor-r', endColorstr='@cor-q', GradientType=1);
  color: white;
} */
.ui-calendar .ui-datepicker .ui-datepicker-header a {
  color: white;
}
.ui-calendar .ui-datepicker .ui-datepicker-header a:hover {
  background: #fff;
  color: #fc6836;
}

p-accordion .ui-accordion .ui-accordion-header {
  background: #cadcd7 !important;
  border-bottom: 1px solid #fc6836;
  margin-top: 6px;
}
p-accordion .ui-accordion .ui-accordion-header.ui-state-active {
  background: #cadcd7 !important;
  border: 1px solid #cadcd7;
  border-bottom: 1px solid #fc6836;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
p-accordion .ui-accordion .ui-accordion-header:hover {
  border-bottom: 1px solid #fc6836 !important;
}
p-accordion .ui-accordion .ui-accordion-header a:hover {
  text-decoration: none;
}
p-accordion .ui-accordion .ui-accordion-header .ui-accordion-toggle-icon {
  position: absolute;
  top: 11px;
}
p-accordion .ui-accordion .ui-accordion-header .info-cabecalho {
  padding-left: 24px;
}
p-accordion .ui-accordion .ui-accordion-header .info-cabecalho ul {
  padding: 0;
  margin: 0;
}
p-accordion .ui-accordion .ui-accordion-header .info-cabecalho ul li {
  list-style: none;
  font-size: 12px;
}
p-accordion .ui-accordion .ui-accordion-header .info-cabecalho ul li label {
  background: #9fc5ba;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
  color: black;
  margin-bottom: 0.1rem;
  margin-right: 0.1rem;
}
p-accordion .ui-accordion .ui-accordion-content-wrapper .ui-accordion-content {
  background: #fff !important;
  margin-bottom: 16px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  border: 1px solid #cadcd7;
}
p-breadcrumb .ui-breadcrumb {
  background: none;
  border: 0;
  margin-bottom: 6px;
}
p-breadcrumb .ui-breadcrumb .ui-breadcrumb-chevron {
  margin: 0 12px;
}
p-breadcrumb .ui-breadcrumb .ui-breadcrumb-chevron::before {
  color: #fc6836;
  font-size: 11px;
}
p-radiobutton {
  margin-right: 16px;
}
p-radiobutton .ui-radiobutton-box.ui-state-active {
  border: 1px solid #236040;
  background: #236040;
}
p-radiobutton .ui-radiobutton-box.ui-state-focus {
  border-color: rgba(0, 149, 107, 0.473) !important;
  -webkit-box-shadow: 0px 0px 0px 4px rgba(0, 149, 107, 0.473) !important;
  -moz-box-shadow: 0px 0px 0px 4px rgba(0, 149, 107, 0.473) !important;
  box-shadow: 0px 0px 0px 4px rgba(0, 149, 107, 0.473) !important;
}
p-radiobutton label {
  margin-bottom: .1rem;
}
.encerrar-diligencia .periodo .form-group {
  margin-top: 6px;
  margin-bottom: 6px;
}
.list-group.baixar-form,
.form-group.baixar-form {
  padding-top: 23px;
}
.dados-visualizados .list-group .list-group-item {
  padding: 0.10rem 0.15rem 0.10rem 0.55rem;
}
.chat-panel .panel-heading {
  background: #cadcd7;
  padding: 8px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom: 1px solid #fc6836;
}
.chat-panel .panel-heading i {
  margin-top: 7px;
}
.chat-panel .panel-heading .off-line {
  color: #bd1717;
}
.chat-panel .panel-heading .on-line {
  color: #00853b;
}
.chat-panel .panel-body {
  background: #c4e6fe url("app/image/pattern_chat3.png");
  -webkit-box-shadow: inset 0 0 60px #98c5ea;
  box-shadow: inset 0 0 60px #98c5ea;
  height: 450px;
  overflow-y: scroll;
  padding: 30px;
}
.chat-panel .panel-body::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}
.chat-panel .panel-body::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}
.chat-panel .panel-body::-webkit-scrollbar-thumb {
  background: #dad7d7;
}
.chat-panel .panel-body .chat {
  margin: 0;
  padding: 0;
  list-style: none;
}
.chat-panel .panel-body .chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.chat-panel .panel-body .chat li.left .chat-icon {
  background: #48858d;
  display: block;
  padding: 12px;
  margin-top: 10px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  border-radius: 26px;
  -webkit-box-shadow: 2px 5px 0.5px rgba(0, 0, 0, 0.13);
  box-shadow: 2px 5px 0.5px rgba(0, 0, 0, 0.13);
}
.chat-panel .panel-body .chat li.left .chat-icon i {
  color: #fff;
  font-size: 24px;
}
.chat-panel .panel-body .chat li.left .chat-body {
  margin-left: 60px;
  background: #fff;
  padding: 12px;
  -webkit-border-radius: 7.5px;
  -moz-border-radius: 7.5px;
  border-radius: 7.5px;
  -webkit-box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
}
.chat-panel .panel-body .chat li.right .chat-icon {
  background: #fc6836;
  display: block;
  padding: 12px;
  margin-top: 10px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  border-radius: 26px;
  -webkit-box-shadow: 2px 5px 0.5px rgba(0, 0, 0, 0.13);
  box-shadow: 2px 5px 0.5px rgba(0, 0, 0, 0.13);
}
.chat-panel .panel-body .chat li.right .chat-icon i {
  color: #fff;
  font-size: 24px;
}
.chat-panel .panel-body .chat li.right .chat-body {
  margin-right: 60px;
  background: #dcf8c6;
  color: #fff;
  padding: 12px;
  -webkit-border-radius: 7.5px;
  -moz-border-radius: 7.5px;
  border-radius: 7.5px;
  -webkit-box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
  color: #262626;
}
.chat-panel .panel-body .chat li.right .chat-body .text-muted {
  color: #555555 !important;
}
.chat-panel .panel-body .chat li .chat-body p {
  margin: 0;
}
.chat-panel .panel-footer .input-group input {
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.chat-panel .panel-footer .input-group input:focus {
  border-color: rgba(0, 149, 107, 0.473) !important;
  border-top-left-radius: 4px !important;
  -webkit-box-shadow: 0px 0px 0px 4px rgba(0, 149, 107, 0.473) !important;
  -moz-box-shadow: 0px 0px 0px 4px rgba(0, 149, 107, 0.473) !important;
  box-shadow: 0px 0px 0px 4px rgba(0, 149, 107, 0.473) !important;
}
.chat-panel .panel-footer .input-group button {
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
@media only screen and (max-width: 1000px) {
  .left .chat-body {
    margin-right: 40% !important;
  }
  .right .chat-body {
    margin-left: 40% !important;
  }
}
@media (min-width: 1001px) and (max-width: 1960px) {
  .left .chat-body {
    margin-right: 55% !important;
  }
  .right .chat-body {
    margin-left: 55% !important;
  }
}
.configurar-parametros .title {
  background: #00956b;
  border-color: #00956b;
}
.configurar-parametros .param-time input {
  width: 70px;
  margin: 6px;
}
.configurar-parametros .param-time input:focus {
  border-color: rgba(0, 149, 107, 0.473) !important;
  border-top-left-radius: 4px !important;
  -webkit-box-shadow: 0px 0px 0px 4px rgba(0, 149, 107, 0.473) !important;
  -moz-box-shadow: 0px 0px 0px 4px rgba(0, 149, 107, 0.473) !important;
  box-shadow: 0px 0px 0px 4px rgba(0, 149, 107, 0.473) !important;
}
@media (min-width: 768px) and (max-width: 900px) {
  .dados-visualizados .param-time label {
    width: 140px;
  }
}
@media (min-width: 901px) and (max-width: 1200px) {
  .dados-visualizados .param-time label {
    width: 170px;
  }
}
@media (min-width: 1201px) and (max-width: 1500px) {
  .dados-visualizados .param-time label {
    width: 267px;
  }
}
.tabela-relatorio-situacao-diligencia p-datatable .ui-datatable .ui-datatable-thead .ui-state-default:first-child {
  width: auto;
}
.grupo-checkbox .form-group {
  margin-bottom: 0;
}
p-autocomplete.ui-inputwrapper-focus .ui-autocomplete-input:focus {
  border-color: rgba(0, 149, 107, 0.473) !important;
  border-top-left-radius: 4px !important;
  -webkit-box-shadow: 0px 0px 0px 4px rgba(0, 149, 107, 0.473) !important;
  -moz-box-shadow: 0px 0px 0px 4px rgba(0, 149, 107, 0.473) !important;
  box-shadow: 0px 0px 0px 4px rgba(0, 149, 107, 0.473) !important;
}
p-autocomplete .ui-autocomplete .ui-autocomplete-dropdown {
  height: 30px;
}
p-autocomplete .ui-autocomplete-panel .ui-autocomplete-items .ui-state-highlight {
  background: #00853b;
}
.alertas {
  position: fixed;
  top: 50px;
  bottom: 56px;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  background: #dfe3e8;
}
.alertas .alertas-sticky {
  max-height: 100%;
  padding-top: .9rem;
  overflow-x: hidden;
  overflow-y: auto;
}
.alertas .alertas-sticky::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}
.alertas .alertas-sticky::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}
.alertas .alertas-sticky::-webkit-scrollbar-thumb {
  background: #dad7d7;
}
.alertas .alertas-sticky .card {
  margin-left: 16px;
  margin-right: 16px;
  border: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.alertas .alertas-sticky .card-header {
  font-weight: bold;
}
.alertas .alertas-sticky .card-header label {
  margin-bottom: 0;
}
.alertas .alertas-sticky .card-header label.texto-alta-criticidade {
  color: #d9534f;
}
.alertas .alertas-sticky .card-header label.texto-media-criticidade {
  color: #f0ad4e;
}
.alertas .alertas-sticky .card-header label.texto-baixa-criticidade {
  color: #5bc0de;
}
.alertas .alertas-sticky .card-header label.texto-sem-criticidade {
  color: #5cb85c;
}
.alertas .alertas-sticky .card-header .fa {
  font-size: 22px;
  margin-right: 10px;
}
.alertas .alertas-sticky .card-header .fa.alta-criticidade {
  color: #d9534f;
}
.alertas .alertas-sticky .card-header .fa.nedia-criticidade {
  color: #f0ad4e;
}
.alertas .alertas-sticky .card-header .fa.baixa-criticidade {
  color: #5bc0de;
}
.alertas .alertas-sticky .card-header .fa.sem-criticidade {
  color: #5cb85c;
}
.alertas .alertas-sticky .card-body {
  background: #fff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.alertas .alertas-sticky .card-body a {
  color: #555555;
}
.alertas .alertas-sticky .card-body strong {
  margin-right: 6px;
  font-size: 16px;
}
.alertas .alertas-sticky .btn-danger {
  background: #d9534f !important;
  border: none !important;
}
.alertas .alertas-sticky .btn-warning {
  background: #f0ad4e !important;
  border: none !important;
}
.alertas .alertas-sticky .btn-info {
  background: #5bc0de !important;
  border: none !important;
}
.alertas .alertas-sticky .btn-success {
  background: #5cb85c !important;
  border: none !important;
}
.icon-sidebar {
  background: none !important;
  border: none !important;
  position: absolute;
  top: -43px;
  right: -50px;
  font-size: 21px;
}
.icon-sidebar:hover,
.icon-sidebar:focus {
  background: none !important;
  border: none !important;
}
.alertas-side-bar .card-header .btn {
  font-size: 10px;
  color: white;
}
.alertas-side-bar .card-header .btn strong {
  color: #f8de2a;
}
.alertas-side-bar .card-header .btn .fa {
  font-size: 10px;
}
.alertas-home {
  padding-top: 30px;
  padding-bottom: 30px;
  position: fixed;
  top: 50px;
  bottom: 56px;
  left: 0;
  right: 0;
  z-index: 100;
  background: #dfe3e8;
  overflow-x: hidden;
  overflow-y: auto;
}
.alertas-home::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}
.alertas-home::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}
.alertas-home::-webkit-scrollbar-thumb {
  background: #dad7d7;
}
.alertas-home .titulo-coluna-home {
  padding-left: 16px;
  padding-bottom: 12px;
}
.alertas-home .card {
  margin-left: 16px;
  margin-right: 16px;
  border: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.alertas-home .card-header {
  font-weight: bold;
}
.alertas-home .card-header label {
  margin-bottom: 0;
}
.alertas-home .card-header label.texto-alta-criticidade {
  color: #d9534f;
}
.alertas-home .card-header label.texto-media-criticidade {
  color: #f0ad4e;
}
.alertas-home .card-header label.texto-baixa-criticidade {
  color: #5bc0de;
}
.alertas-home .card-header label.texto-sem-criticidade {
  color: #5cb85c;
}
.alertas-home .card-header .fa {
  font-size: 22px;
  margin-right: 10px;
}
.alertas-home .card-header .fa.alta-criticidade {
  color: #d9534f;
}
.alertas-home .card-header .fa.nedia-criticidade {
  color: #f0ad4e;
}
.alertas-home .card-header .fa.baixa-criticidade {
  color: #5bc0de;
}
.alertas-home .card-header .fa.sem-criticidade {
  color: #5cb85c;
}
.alertas-home .card-header .btn {
  font-size: 10px;
  color: white;
}
.alertas-home .card-header .btn strong {
  color: #f8de2a;
}
.alertas-home .card-header .btn .fa {
  font-size: 10px;
}
.alertas-home .card-body {
  background: #fff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.alertas-home .card-body a {
  color: #555555;
}
.alertas-home .card-body strong {
  margin-right: 6px;
  font-size: 16px;
}
.alertas-home .btn-danger {
  background: #d9534f !important;
  border: none !important;
}
.alertas-home .btn-warning {
  background: #f0ad4e !important;
  border: none !important;
}
.alertas-home .btn-info {
  background: #5bc0de !important;
  border: none !important;
}
.alertas-home .btn-success {
  background: #5cb85c !important;
  border: none !important;
}

.botao {
  margin-right: 5px !important;
  width: 110px !important;
  color: #FFFFFF !important;
}

.col-acao {
  width: 80px !important;
  text-align: center;
}

.total-registros-msg {
  font-weight: bold !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 14px !important;
}

.item-por-pagina {
  float: right !important;
  padding-left: 5px !important;
}

.item-por-pagina-msg {
  float: right !important;
  margin-top: 7px !important;
}

/* Cor radiobutton */
body .ui-radiobutton .ui-radiobutton-box.ui-state-active {
  background: #0066ff !important;
}

/* Cor checkbpx */
/* .pi-check:before {
  background: #00956B !important;
} */

body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-tabview-selected a {
  background-color: #116fbf !important;
}

.form-group p-dropdown .ui-dropdown .ui-dropdown-label {
font-size: 15px;
}

body .ui-dialog .ui-dialog-titlebar{
  background: #3c8dbc !important;
  color: #ffffff !important;
  margin: 0 auto !important;
  position: relative !important;
}

body .ui-picklist .ui-picklist-list .ui-picklist-item.ui-state-highlight {
  background: #3c8dbc !important;
}

.pi-times:before {
  color: #CCCCCC;
}



