<div class="container-fluid">

  <div class="ui-g">
    <div class="ui-g-12 breadcrumb">
        <p-breadcrumb [model]="items" [home]="homeBreadcrumb"></p-breadcrumb>
      </div>
  </div>

  <div class="separador-form"></div>

      <form #f="ngForm" autocomplete="off">

        <div class="ui-g">
          <div class="ui-g-12">
            <app-menu-form [rotaListar]="rotaListar" [consulta]="consulta" [entidade]="entidade" [formulario]="f"
            (imprimir)="imprimir($event)" [permissaoImprimir]="segurancaService.temPermissao('PERFIL_IMPRIMIR')"
            (salvar)="salvar($event)"></app-menu-form>
          </div>

          <div class="ui-g-12">

              <div class="card periodo">
                  <div class="card-header">
                    <strong>Dados</strong>
                  </div>
                  <div class="card-body">
                    <div class="row">
                        <div class="ui-g-12 ui-md-12 ui-fluid">
                            <div class="form-group">
                          <label for="descricao">Descrição</label>
                          <br />
                          <input pInputText type="text" name="descricao" [(ngModel)]="entidade.descricao"
                          #descricao="ngModel" required minlength="3" maxlength="30" [disabled]="consulta"
                          [ngClass]="descricao? 'sucessoInput':'erroInput'" class="form-control">
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="ui-g-12">
                <div class="card periodo">
                  <div class="card-header">
                    <strong>Permissões</strong>
                  </div>

                      <p-pickList [source]="permissoes" [target]="permissoesSelecionadas" sourceHeader="Selecione"
                      targetHeader="Selecionados" [responsive]="true" filterBy="role"
                      [showSourceControls]="false" [showTargetControls]="false" [disabled]="consulta"
                      dragdrop="true" sourceFilterPlaceholder="Pesquisar" targetFilterPlaceholder="Pesquisar"
                      [sourceStyle]="{'height':'400px'}" [targetStyle]="{'height':'400px'}">
                          <ng-template let-permissao pTemplate="item">
                              <div class="ui-helper-clearfix">
                                <div style="font-size:14px">{{permissao.role}}</div>
                              </div>
                          </ng-template>
                      </p-pickList>
                </div>
              </div>

          </div>
        </div>
        <div style="padding: 30px;"></div>
      </form>
  </div>
