<div class="container-fluid">

  <div class="ui-g">
    <div class="ui-g-12 breadcrumb">
      <p-breadcrumb [model]="items" [home]="homeBreadcrumb"></p-breadcrumb>
    </div>
  </div>

  <div class="separador-form"></div>

  <form #f="ngForm" autocomplete="off">

    <div class="ui-g">
      <div class="ui-g-12">
        <app-menu-form [rotaListar]="rotaListar" [consulta]="consulta" [entidade]="entidade" [formulario]="f"
          (imprimir)="imprimir($event)" [permissaoImprimir]="segurancaService.temPermissao('FUNCIONARIO_IMPRIMIR')"
          (salvar)="salvar($event)"></app-menu-form>
      </div>

      <div class="ui-g-12">

        <!--Início dados-->
        <div class="card periodo">
          <div class="card-header">
            <strong>Dados
              <span *ngIf="prazo >= 0" class="badge badge-success alerta">
                Restam {{prazo}} dias para o fim do prazo</span>
              <span *ngIf="prazo < 0" class="badge badge-danger alerta">
                Restam {{prazo}} dias para o fim do prazo</span>
              </strong>
          </div>

          <div class="card-body">
            <div class="row">

              <div class="ui-g-12 ui-md-4 ui-fluid">
                <div class="form-group">
                  <label for="tipoDocumento">Tipo documento</label>
                  <br />
                  <p-dropdown [options]="tiposDocumento" [filter]="false" placeholder="Selecione" name="tipoDocumento"
                    [(ngModel)]="entidade.tipoDocumento.id" [readonly]="true"></p-dropdown>
                </div>
              </div>

              <div class="ui-g-12 ui-md-4 ui-fluid">
                <div class="form-group">
                  <label for="numeroDocumento">Nº Documento</label>
                  <br />
                  <input pInputText type="text" name="numeroDocumento" [(ngModel)]="entidade.numeroDocumento"
                    #numeroDocumento="ngModel" required minlength="3" maxlength="30" [readonly]="true"
                    [ngClass]="numeroDocumento? 'sucessoInput':'erroInput'" class="form-control">
                </div>
              </div>

              <div class="ui-g-12 ui-md-4 ui-fluid">
                <div class="form-group">
                  <label for="numeroProcesso">Nº Processo</label>
                  <br />
                  <input pInputText type="text" name="numeroProcesso" [(ngModel)]="entidade.numeroProcesso"
                    #numeroProcesso="ngModel" required minlength="3" maxlength="30" [readonly]="true"
                    [ngClass]="numeroProcesso? 'sucessoInput':'erroInput'" class="form-control">
                </div>
              </div>

              <div class="ui-g-12 ui-md-12 ui-fluid">
                <div class="form-group">
                  <label for="interessado">Interessado</label>
                  <br />
                  <input pInputText type="text" name="interessado" [(ngModel)]="entidade.interessado"
                    #interessado="ngModel" required minlength="3" maxlength="30" [readonly]="true"
                    [ngClass]="interessado? 'sucessoInput':'erroInput'" class="form-control">
                </div>
              </div>

              <div class="ui-g-12 ui-md-12 ui-fluid">
                <div class="form-group">
                  <label for="funcionario">Advogado(a) responsável</label>
                  <br />
                  <input pInputText type="text" name="funcionario" [(ngModel)]="entidade.funcionario.nome"
                    #funcionario="ngModel" required minlength="3" maxlength="100" [readonly]="true"
                    [ngClass]="funcionario? 'sucessoInput':'erroInput'" class="form-control">
                </div>
              </div>

              <div class="ui-g-12 ui-md-12 ui-fluid" *ngIf="!temPermissao">
                <div class="form-group">
                  <label for="status">Status</label>
                  <br />
                  <input pInputText type="text" name="status" [(ngModel)]="entidade.status" #interessado="ngModel"
                    maxlength="30" [readonly]="true" [ngClass]="status? 'sucessoInput':'erroInput'"
                    class="form-control">
                </div>
              </div>

              <div class="ui-g-12 ui-md-6 ui-fluid" *ngIf="temPermissao">
                <div class="form-group">
                  <label for="status">Status</label>
                  <br />
                  <input pInputText type="text" name="status" [(ngModel)]="entidade.status" #interessado="ngModel"
                    maxlength="30" [readonly]="true" [ngClass]="status? 'sucessoInput':'erroInput'"
                    class="form-control">
                </div>
              </div>

              <div class="ui-g-12 ui-md-6 ui-fluid" *ngIf="temPermissao">
                <div class="form-group">
                  <label for="orgao">Orgão</label>
                  <br />
                  <p-dropdown [options]="orgaos" [filter]="true" placeholder="Selecione"
                    (ngModelChange)="listarOrgaos()" name="orgao" [(ngModel)]="entidade.orgao.id" [disabled]="consulta">
                  </p-dropdown>
                </div>
              </div>

              <div class="ui-g-12 ui-md-6 ui-fluid" *ngIf="temPermissao">
                <div class="form-group">
                  <label for="funcionario2">Funcionário</label>
                  <br />
                  <p-dropdown [options]="funcionarios" [filter]="false" placeholder="Selecione"
                    (ngModelChange)="listarFuncionarios()" name="funcionario2" [(ngModel)]="entidade.funcionario.id"
                    [disabled]="consulta"></p-dropdown>
                </div>
              </div>

              <div class="ui-g-12 ui-md-6 ui-fluid">
                <div class="form-group">
                  <label for="assunto">Assunto</label>
                  <br />
                  <p-dropdown [options]="assuntos" [filter]="false" placeholder="Selecione" name="assunto"
                    [(ngModel)]="entidade.assunto.id" [readonly]="true"></p-dropdown>
                </div>
              </div>

              <div class="ui-g-12 ui-md-6 ui-fluid">
                <div class="form-group">
                  <label for="referencia">Referência</label>
                  <br />
                  <p-dropdown [options]="referencias" [filter]="false" placeholder="Selecione" name="referencia"
                    [(ngModel)]="entidade.referencia.id" [readonly]="true"></p-dropdown>
                </div>
              </div>

              <div class="ui-g-12 ui-md-3 ui-fluid" *ngIf="!temPermissao">
                <div class="form-group">
                  <label for="ugb">UGB</label>
                  <br />
                  <p-dropdown [options]="ugbs" [filter]="false" placeholder="Selecione" name="ugb"
                    [(ngModel)]="entidade.ugb" [readonly]="!temPermissao"></p-dropdown>
                </div>
              </div>

              <div class="ui-g-12 ui-md-6 ui-fluid" *ngIf="temPermissao">
                <div class="form-group">
                  <label for="ugb">UGB</label>
                  <br />
                  <p-dropdown [options]="ugbs" [filter]="false" placeholder="Selecione" name="ugb"
                    [(ngModel)]="entidade.ugb" [readonly]="!temPermissao"></p-dropdown>
                </div>
              </div>

              <div class="ui-g-12 ui-md-3 ui-fluid" *ngIf="!temPermissao">
                <div class="form-group">
                  <label for="prioridadeJuridico">Prioridade jurídico</label>
                  <br />
                  <p-dropdown [options]="prioridades" [filter]="false" placeholder="Selecione" name="prioridadeJuridico"
                    [(ngModel)]="entidade.prioridade" [readonly]="true"></p-dropdown>
                </div>
              </div>

              <div class="ui-g-12 ui-md-4 ui-fluid" *ngIf="temPermissao">
                <div class="form-group">
                  <label for="prioridadeJuridico">Prioridade jurídico</label>
                  <br />
                  <p-dropdown [options]="prioridades" [filter]="false" placeholder="Selecione" name="prioridadeJuridico"
                    [(ngModel)]="entidade.prioridade" [readonly]="true"></p-dropdown>
                </div>
              </div>

              <div class="ui-g-12 ui-md-3 ui-fluid" *ngIf="!temPermissao">
                <div class="form-group">
                  <label for="dataDocumento">Data Documento</label>
                  <br />
                  <p-calendar name="dataDocumento" [(ngModel)]="entidade.dataDoc" [locale]="locale.es"
                    dateFormat="dd/mm/yy" [showIcon]="true" [disabled]="true"></p-calendar>
                </div>
              </div>

              <div class="ui-g-12 ui-md-4 ui-fluid" *ngIf="temPermissao">
                <div class="form-group">
                  <label for="dataDocumento">Data Documento</label>
                  <br />
                  <p-calendar name="dataDocumento" [(ngModel)]="entidade.dataDoc" [locale]="locale.es"
                    dateFormat="dd/mm/yy" [showIcon]="true" [disabled]="true"></p-calendar>
                </div>
              </div>

              <div class="ui-g-12 ui-md-3 ui-fluid" *ngIf="!temPermissao">
                <div class="form-group">
                  <label for="dataEnvioRecebimento">Data recebimento</label>
                  <br />
                  <p-calendar name="dataEnvioRecebimento" [(ngModel)]="entidade.dataEnvioRecebimento"
                    [locale]="locale.es" dateFormat="dd/mm/yy" [showIcon]="true" [disabled]="true"></p-calendar>
                </div>
              </div>

              <div class="ui-g-12 ui-md-4 ui-fluid" *ngIf="temPermissao">
                <div class="form-group">
                  <label for="dataEnvioRecebimento">Data recebimento</label>
                  <br />
                  <p-calendar name="dataEnvioRecebimento" [(ngModel)]="entidade.dataEnvioRecebimento"
                    [locale]="locale.es" dateFormat="dd/mm/yy" [showIcon]="true" [disabled]="true"></p-calendar>
                </div>
              </div>

              <div class="ui-g-12 ui-md-12 ui-fluid">
                <div class="form-group">
                  <label for="descricaoAssunto">Descricao Assunto</label>
                  <br />
                  <textarea pInputTextarea name="descricaoAssunto" [(ngModel)]="entidade.descricaoAssunto"
                    #descricaoAssunto="ngModel" [ngClass]="descricaoAssunto? 'sucessoInput':'erroInput'"
                    class="form-control" [readonly]="true"></textarea>
                </div>
              </div>

              <div class="ui-g-12 ui-md-12 ui-fluid" *ngIf="entidade.observacaoDiligencia">
                <div class="form-group">
                  <label for="observacaoDiligencia">Observação Coordenador</label>
                  <br />
                  <textarea pInputTextarea name="observacaoDiligencia" [(ngModel)]="entidade.observacaoDiligencia"
                    #observacaoDiligencia="ngModel" [ngClass]="observacaoDiligencia? 'sucessoInput':'erroInput'"
                    class="form-control" [readonly]="true"></textarea>
                </div>
              </div>

              <div class="ui-g-12 ui-md-12 ui-fluid">
                  <div class="form-group">
                    <label for="parecerJuridico">Parecer</label>
                    <br />
                    <p-dropdown [options]="pareceresJuridico" [filter]="false" placeholder="Selecione" name="parecerJuridico"
                      [(ngModel)]="entidade.parecerJuridico"></p-dropdown>
                  </div>
                </div>

              <div class="ui-g-12 ui-md-12 ui-fluid">
                <div class="form-group">
                  <label for="observacao">Observação</label>
                  <br />
                  <textarea pInputTextarea name="observacao" [(ngModel)]="entidade.observacao" #observacao="ngModel"
                    [ngClass]="observacao? 'sucessoInput':'erroInput'" class="form-control"></textarea>
                </div>
              </div>

              <div class="ui-g-12 ui-md-12 ui-fluid" *ngIf="!temMovimentacao">
                <button *ngIf="!entidade.dataConclusao && finalizaProcesso && entidade.dataRecebimentoAdvogado" pButton
                  label="Finalizar processo" (click)="finalizarProcesso()"></button>
              </div>
            </div>

          </div>
        </div>
        <!--Fim dados-->

        <div class="card periodo" *ngIf="temMovimentacao">
          <div class="card-header">
            <strong>Movimentação processo</strong>
          </div>
          <div class="card-body">
            <div class="row">

              <div class="ui-g-12 ui-md-12 ui-fluid">
                <p-table [value]="entidade.movimentosDocumento" [responsive]="true" [lazy]="true" #tabela>
                  <ng-template pTemplate="header">
                      <tr>
                          <th class="col-tipo">Funcionário Origem</th>
                          <th class="col-documento">Data Envio</th>
                          <th class="col-documento">Parecer</th>
                          <th class="col-documento">Observação</th>
                          <th class="col-tipo">Funcionário Destino</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-movimentacao>
                      <tr>
                          <td>{{movimentacao?.funcionarioOrigem.nome}}</td>
                          <td>{{movimentacao?.dataHoraEnvio | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                          <td>{{movimentacao?.parecer}}</td>
                          <td>{{movimentacao?.observacao}}</td>
                          <td>{{movimentacao?.funcionarioDestino?.nome}}</td>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="6">
                        Nenhum registro encontrado
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
              <div class="ui-g-12 ui-md-12 ui-fluid" *ngIf="temMovimentacao">
                <button *ngIf="!entidade.dataConclusao && finalizaProcesso && entidade.dataRecebimentoAdvogado" pButton
                  label="Finalizar processo" (click)="finalizarProcesso()"></button>
              </div>

            </div>
              </div>
              </div>


        <!--Início arquivo local-->
        <!-- <div class="card periodo">
            <div class="card-header">
              <strong>Local do arquivo físico</strong>
            </div>
            <div class="card-body">
                <div class="row">

                  <div class="ui-g-12 ui-md-4 ui-fluid">
                    <div class="form-group">
                    <label for="armario">Armário</label>
                    <br />
                    <p-dropdown [options]="armarios" [filter]="false" placeholder="Selecione"
                    name="armario" [(ngModel)]="entidade.armario.id" [disabled]="consulta"></p-dropdown>
                    </div>
                  </div>

              <div class="ui-g-12 ui-md-4 ui-fluid">
                <div class="form-group">
                <label for="caixa">Caixa</label>
                <br />
                <p-dropdown [options]="caixas" [filter]="false" placeholder="Selecione"
                name="caixa" [(ngModel)]="entidade.caixa.id" [disabled]="consulta"></p-dropdown>
                </div>
              </div>

              <div class="ui-g-12 ui-md-4 ui-fluid">
                <div class="form-group">
                <label for="pasta">Pasta</label>
                <br />
                <p-dropdown [options]="pastas" [filter]="false" placeholder="Selecione"
                name="pasta" [(ngModel)]="entidade.pasta.id" [disabled]="consulta"></p-dropdown>
                </div>
              </div>

              <div class="ui-g-12 ui-md-12 ui-fluid">
                <button *ngIf="!entidade.dataConclusao && finalizaProcesso" pButton label="Finalizar processo" class="ui-button-success" (click)="finalizarProcesso()"></button>
              </div>

                </div>
            </div>
          </div> -->
        <!--Fim arquivo local-->

      </div>
    </div>
  </form>
</div>
