.imagem-principal {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-left: 38px;
}

.centralizar {
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

h1 {
  margin-top: 10%;
  text-align: center;
}

/* Dashboard principal*/

.icons_home {
  padding-top: 5px;
}

.icons_home .legend {
  margin-top: 8px;
  font-weight: bold;
}

.icons_home .container-icon {
  color: #333333;
  box-shadow: 10px 10px 0px 0rem #eeeeee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  display: block;
  margin-bottom: 20px;
  background: #fff;
  text-align: center;
  min-height: auto;
  max-width: 150px;
}

.icons_home .container-icon:hover {
  color: #273d19;
  background-color: #afd1c6;
  transition: background-color 0.4s, color 0.4s;
}

.image_home {
  background-size: contain !important;
  min-height: 100px;
  max-width: 100px;
  margin: 0 auto;
  display: block;
}

.content-header {
  padding: 15px;
  margin-top: -30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
}

.versao{
  font-size: 15px;
  display: inline-block;
  padding-left: 4px;
  font-weight: 300;
}

.col-tipo {
  width: 20%;
  text-align: center;
}

.col-documento {
  width: 20%;
  text-align: center;
}

.col-origem {
width: 25%;
text-align: center;
}

.col-interessado {
width: 20%;
text-align: center;
}

.col-data {
width: 15%;
text-align: center;
}

.col-acao {
width: 10% !important;
margin: 0 auto;
}

.col-descricao {
  width: 100% !important;
  margin: 0 auto;
  }

.col-acao-header {
  margin-left: 10px;
  text-align: center;
  width: 10% !important;
  margin: 0 auto;
  }

a:hover {
  color: #00956b !important;
}

.botao-acao {
  margin-right: 15px !important;
  color: #3c8dbc;
  font-size: 25px;
}

.botao-check {
  margin-right: 15px !important;
  color: #00956b;
  font-size: 25px;
}

.botao-distribuicao {
  margin-right: 15px !important;
  color: #ffba01;
  font-size: 25px;
}

.botao-excluir {
  color: #DF4C39;
  font-size: 25px;
}

.botao-diligencia {
  color: #3c8dbc;
  font-size: 25px !important;
}

.botao-excluir-check {
  color: #DF4C39;
  font-size: 25px !important;
  margin-left: 10px;
}

.botao-finalizar {
  color: #00956b;
  font-size: 25px;
}

.alerta {
  float: right !important;
  font-size: 13px !important;
}



