<!-- APOIO -->
<!-- Inicio modal cadastro preliminar -->
<p-dialog modal="modal" [style]="{width: '700px', height: '400px'}" [responsive]="true" [(visible)]="visibleCadastroPreliminar"
  header="Cadastro Preliminas / {{selecionado.numeroProcesso}}">

  <div class="ui-g-12">
    <p-scrollPanel [style]="{width: '100%', height: '500px'}">

      <form autocomplete="off">

        <div class="card bg-light mb-3">
          <div class="card-body">
            <div class="row">

              <div class="ui-g-12 ui-md-6 ui-fluid">
                <div class="form-group">
                  <label for="checkListPreliminar">Classe</label>
                  <br />
                  <p-dropdown [options]="checksList" [filter]="false" placeholder="Selecione"
                    (click)="listarCheckListTipo()" name="checkListPreliminar" [(ngModel)]="checkListSelecionado.id"></p-dropdown>
                </div>
              </div>

              <div class="ui-g-12 ui-md-6 ui-fluid">
                <div class="form-group">
                  <label for="checksListTipoPreliminar">Tipo</label>
                  <br />
                  <p-dropdown [options]="checksListTipo" [filter]="false" placeholder="Selecione"
                    (click)="listarCheckListSub()" name="checksListTipoPreliminar" [(ngModel)]="checkListTipoSelecionado.id">
                  </p-dropdown>
                </div>
              </div>

              <div class="ui-g-12 ui-md-12 ui-fluid">
                <div class="form-group">
                  <label for="checksListSubPreliminar">SubTipo</label>
                  <br />
                  <p-dropdown [options]="checksListSub" [filter]="false" placeholder="Selecione"
                  (click)="listarCheckListDoc()" name="checksListSubPreliminar" [(ngModel)]="checkListSubSelecionado.id">
                  </p-dropdown>
                </div>
              </div>
          </div>
        </div>

        <div class="card periodo">
          <div class="card-header">
            <strong>Selecione UGB responsável</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="form-group ui-g-12 ui-md-12 ui-fluid">
                <label for="ugb">UGB</label>
                <br />
                <p-dropdown [options]="ugbs" [filter]="false" placeholder="Selecione" name="ugb"
                  [(ngModel)]="selecionado.ugb"></p-dropdown>
              </div>
            </div>

            <button pButton type="button" label="Confirmar"
            (click)="confirmarCadastroPreliminar()"></button>

            </div>
            </div>
            </div>
      </form>
    </p-scrollPanel>
  </div>
</p-dialog>
<!-- Fim modal cadastro preliminar -->

<!-- APOIO -->
<!-- Inicio modal inicio distribuiçao processo -->
<p-dialog modal="modal" [style]="{width: '1200px', height: '300px'}" [responsive]="true"
  [(visible)]="visibleInicioDistribuicaoList" header="Distribuiçao de processos">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

  <div class="ui-g-12">
    <p-scrollPanel [style]="{width: '100%', height: '350px'}">

      <div class="card mb-3">
        <div id="accordion">
          <div class="card-header">

            <div style="font-weight: bold;">
              <label class="texto-alta-criticidade"><i class="fa fa-users botao-acao"></i>Distribuir processos</label>
            </div>

          </div>
          <div class="card-body">
            <div id="collapseAltaCriticidade" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-text">
                <div class="list-group" *ngFor="let entidade of documentosInicioDistribuicao">
                  <a class="list-group-item list-group-item-action">
                    <u><b>Processo</b> {{entidade.numeroProcesso}}</u> <br />
                    <b>{{entidade.numeroDocumento}} - </b>{{entidade.descricaoAssunto}} <b> ( </b> {{entidade.interessado}} <b> ) </b> <b>
                      {{entidade.funcionario ? entidade.funcionario.nome : ' - Aguardando distribuição'}} </b>
                    <span style="float: right; padding: 2px;">
                      <a title="Cadastro Preliminar" tooltipPosition="bottom"
                        (click)="cadastroPreliminar(entidade)">
                        <i class="fa fa-address-card-o botao-acao"></i>
                      </a>
                      <a title="Distribuir Processo Manual" tooltipPosition="bottom"
                        (click)="redistribuicaofuncionario(entidade)">
                        <i class="fa fa-id-badge botao-distribuicao"></i>
                      </a>
                      <a title="Distribuir Processo Individual" tooltipPosition="bottom"
                        (click)="distribuicaoIndividual(entidade)">
                        <i class="fa fa-user botao-acao"></i>
                      </a>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </p-scrollPanel>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix" style="margin-right: 30px">
      <button type="button" pButton label="Distribuir em bloco" icon="fa fa-window-restore" routerLink="asjur/principal"
        (click)="distribuirEmBloco()"></button>
    </div>
  </p-footer>
</p-dialog>
<!-- Fim modal inicio distribuiçao processo -->

<!-- APOIO -->
<!-- Inicio modal redistribuir funcionário processo -->
<p-dialog modal="modal" [style]="{width: '500px', height: '200px'}" [responsive]="true"
  [(visible)]="visibleRedistribuicao" header="Redistribuir Processo {{selecionado.numeroProcesso}}">

  <div class="ui-g-12">
    <p-scrollPanel [style]="{width: '100%', height: '200px'}">

      <form autocomplete="off">

        <div class="card bg-light mb-3">
          <div class="card-body">
            <div class="row">

              <div class="ui-g-12 ui-md-12 ui-fluid">
                <div class="form-group">
                  <label for="funcionario">Funcionário</label>
                  <br />
                  <p-dropdown [options]="funcionarios" [filter]="false" placeholder="Selecione" name="funcionario"
                    [(ngModel)]="selecionado.funcionario.id"></p-dropdown>
                </div>
              </div>

            </div>
            <div style="float: right;">
              <a title="Confrmar distribuição" tooltipPosition="bottom" (click)="redistribuirProcesso(selecionado)">
                <i class="fa fa-check botao-diligencia"></i>
              </a>
            </div>
          </div>
        </div>
      </form>
    </p-scrollPanel>
  </div>
</p-dialog>
<!-- Fim modal redistribuir funcionário processo -->

<!-- APOIO -->
<!-- Inicio modal finalizar processo -->
<p-dialog modal="modal" [style]="{width: '1200px', height: '300px'}" [responsive]="true"
  [(visible)]="visibleFinalizarProcesso" header="Finalização de processos">

  <div class="ui-g-12">
    <p-scrollPanel [style]="{width: '100%', height: '350px'}">

      <div class="card mb-3">
        <div id="accordion">
          <div class="card-header">

            <div style="font-weight: bold;">
              <label class="texto-alta-criticidade"><i class="fa fa-arrow-down  botao-acao"></i>Finalizar
                Processo</label>
            </div>

          </div>
          <div class="card-body">
            <div id="collapseAltaCriticidade" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-text">
                <div class="list-group" *ngFor="let entidade of documentosFinalizar">
                  <a class="list-group-item list-group-item-action">
                    <u><b>Processo</b> {{entidade.numeroProcesso}}</u> <br />
                    <b>{{entidade.numeroDocumento}} - </b>{{entidade.descricaoAssunto}} <b> -
                      {{entidade.funcionario ? entidade.funcionario.nome : 'Aguardando distribuição'}} </b>
                    <span style="float: right; padding: 2px;">
                      <a title="Finalizar Processo" tooltipPosition="bottom" (click)="finalizarProcesso(entidade)">
                        <i class="fa fa-sign-in botao-finalizar"></i>
                      </a>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </p-scrollPanel>
  </div>
</p-dialog>
<!-- Fim modal finalizar processo -->

<!-- ADVOGADO -->
<!-- Inicio modal recebimento processo -->
<p-dialog modal="modal" [style]="{width: '1200px'}" [responsive]="true" [(visible)]="visibleDialogRecebimento"
  header="Confirmar recebimento do Processo" [closable]="false">

  <div class="ui-g-12 ui-md-12 ui-fluid">
    <label style="font-weight: bold;"><i class="fa fa-download botao-acao"></i>Confirmação recebimento de
      Processos</label>
  </div>

  <div class="ui-g-12">
    <p-table [value]="documentosReceber" [responsive]="true" #tabela>
      <ng-template pTemplate="header">
        <tr>
          <th class="col-tipo">Tipo Documento</th>
          <th class="col-documento">Nº Documento</th>
          <th class="col-documento">Nº Processo</th>
          <th class="col-origem">Origem</th>
          <th class="col-interessado">Interessado</th>
          <th class="col-data">Data Documento</th>
          <th class="col-acao">Ação</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-entidade let-rowIndex="rowIndex">
        <tr>
          <td>{{entidade.tipoDocumento.descricao}}</td>
          <td class="col-documento">{{entidade.numeroDocumento}}</td>
          <td class="col-documento">{{entidade.numeroProcesso}}</td>
          <td *ngIf="entidade.unidadeAdministrativa">{{entidade.unidadeAdministrativa.nome}}</td>
          <td *ngIf="!entidade.unidadeAdministrativa"></td>
          <td>{{entidade.interessado}}</td>
          <td class="col-data">{{entidade.dataDoc | date:'dd/MM/yyyy'}}</td>
          <td class="col-acao-header">
            <!-- Inicio modal checklist conferencia processo -->
            <p-dialog modal="modal" [style]="{width: '800px', height: '1000px'}" [responsive]="true" [(visible)]="visibleCheckList"
              header="CheckList Processo {{selecionado.numeroProcesso}}">

              <div class="ui-g-12">
                <p-scrollPanel [style]="{width: '100%', height: '500px'}">

                  <form autocomplete="off">

                    <div class="card bg-light mb-3">
                      <div class="card-body">
                        <div class="row">

                          <div class="ui-g-12 ui-md-12 ui-fluid">
                            <div class="form-group">
                              <label for="checkList">Classe</label>
                              <br />
                              <p-dropdown [options]="checksList" [filter]="false" placeholder="Selecione"
                                (click)="listarCheckListTipo()" name="checkList" [(ngModel)]="checkListSelecionado.id"></p-dropdown>
                            </div>
                          </div>

                          <div class="ui-g-12 ui-md-12 ui-fluid">
                            <div class="form-group">
                              <label for="checksListTipo">Tipo</label>
                              <br />
                              <p-dropdown [options]="checksListTipo" [filter]="false" placeholder="Selecione"
                                (click)="listarCheckListSub()" name="checksListTipo" [(ngModel)]="checkListTipoSelecionado.id">
                              </p-dropdown>
                            </div>
                          </div>

                          <div class="ui-g-12 ui-md-12 ui-fluid">
                            <div class="form-group">
                              <label for="checksListSub">SubTipo</label>
                              <br />
                              <p-dropdown [options]="checksListSub" [filter]="false" placeholder="Selecione"
                                (click)="listarCheckListDoc()" name="checksListSub" [(ngModel)]="checkListSubSelecionado.id">
                              </p-dropdown>
                            </div>
                          </div>

                          <div class="ui-g-12 ui-md-12 ui-fluid">
                            <label style="font-weight: bold;">Documentação</label>
                          </div>

                          <div class="ui-g-12">
                            <p-table [value]="checksListDoc" [responsive]="true" #tabela>
                              <ng-template pTemplate="header">
                                <tr>
                                  <th class="col-descricao">Descrição</th>
                                  <th class="col-acao"></th>
                                </tr>
                              </ng-template>
                              <ng-template pTemplate="body" let-entidade let-rowIndex="rowIndex">
                                <tr>
                                  <td>{{entidade.descricao}}</td>
                                  <td class="col-acao-header">
                                    <p-checkbox (click)="SelecionarDocumento(entidade)" value="{{entidade.id}}"
                                      [(ngModel)]="entidade.ativo" name="{{entidade.id}}" binary="true"></p-checkbox>
                                  </td>
                                </tr>
                              </ng-template>
                              <ng-template pTemplate="emptymessage">
                                <tr>
                                  <td colspan="6">
                                    Nenhum registro encontrado
                                  </td>
                                </tr>
                              </ng-template>
                            </p-table>
                          </div>

                        </div>
                        <a title="Documentação completa" tooltipPosition="bottom" (click)="confirmarDocumento(selecionado)">
                          <i class="fa fa-check botao-diligencia"></i>
                        </a>
                        <a title="Documentação Pendente" tooltipPosition="bottom" (click)="pendenciaDocumento(selecionado)">
                          <i class="fa fa-times botao-excluir-check"></i>
                        </a>

                      </div>
                    </div>
                  </form>
                </p-scrollPanel>
              </div>
            </p-dialog>
            <!-- Fim modal checklist conferencia processo -->
            <p-checkbox (click)="selecionarEntidade(entidade)" value="{{entidade.id}}" [(ngModel)]="entidade.distribuir"
              name="redistribuir" binary="true"></p-checkbox>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">
            Nenhum registro encontrado
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix" *ngIf="visibleDialogConfirmar">
      <button type="button" pButton icon="pi pi-check" (click)="receberProcesso()" label="Confirmar"></button>
    </div>
  </p-footer>
</p-dialog>
<!-- Fim modal recebimento processo -->

<!-- ADVOGADO -->
<!-- Inicio modal checklist processo -->
<p-dialog modal="modal" [style]="{width: '1200px', height: '300px'}" [responsive]="true"
  [(visible)]="visibleDialogCheckList" header="CheckList de processos">

  <div class="ui-g-12">
    <p-scrollPanel [style]="{width: '100%', height: '350px'}">

      <div class="card mb-3">
        <div id="accordion">
          <div class="card-header">
            <div style="font-weight: bold;">
              <label class="texto-alta-criticidade"><i class="fa fa-pencil-square-o  botao-acao"></i>Conferência de
                documentação</label>
            </div>
          </div>
          <div class="card-body">
            <div id="collapseAltaCriticidade" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-text">
                <div class="list-group" *ngFor="let entidade of documentosCheckList">
                  <a class="list-group-item list-group-item-action" (click)="checkList(entidade)">
                    <u><b>Processo</b> {{entidade.numeroProcesso}}</u> <br />
                    <b>{{entidade.numeroDocumento}} - </b>{{entidade.descricaoAssunto}} <b> -
                      {{entidade.funcionario?.nome}} </b>
                    <span style="float: right; padding: 2px;">
                      <a title="CheckList" tooltipPosition="bottom" (click)="checkList(entidade)">
                        <i class="fa fa-check-square-o botao-acao"></i>
                      </a>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </p-scrollPanel>
  </div>
</p-dialog>
<!-- Fim modal checklist processo -->

<!-- ADVOGADO -->
<!-- Inicio modal checklist conferencia processo -->
<p-dialog modal="modal" [style]="{width: '800px', height: '1000px'}" [responsive]="true" [(visible)]="visibleCheckList"
  header="CheckList Processo {{selecionado.numeroProcesso}}">

  <div class="ui-g-12">
    <p-scrollPanel [style]="{width: '100%', height: '500px'}">

      <form autocomplete="off">

        <div class="card bg-light mb-3">
          <div class="card-body">
            <div class="row">

              <div class="ui-g-12 ui-md-12 ui-fluid">
                <div class="form-group">
                  <label for="checkList">Classe</label>
                  <br />
                  <p-dropdown [options]="checksList" [filter]="false" placeholder="Selecione" [readonly]="true"
                    name="checkList" [(ngModel)]="checkListSelecionado.id"></p-dropdown>
                </div>
              </div>

              <div class="ui-g-12 ui-md-12 ui-fluid">
                <div class="form-group">
                  <label for="checksListTipo">Tipo</label>
                  <br />
                  <p-dropdown [options]="checksListTipo" [filter]="false" placeholder="Selecione" [readonly]="true"
                    name="checksListTipo" [(ngModel)]="checkListTipoSelecionado.id">
                  </p-dropdown>
                </div>
              </div>

              <div class="ui-g-12 ui-md-12 ui-fluid">
                <div class="form-group">
                  <label for="checksListSub">SubTipo</label>
                  <br />
                  <p-dropdown [options]="checksListSub" [filter]="false" placeholder="Selecione" [readonly]="true"
                    name="checksListSub" [(ngModel)]="checkListSubSelecionado.id">
                  </p-dropdown>
                </div>
              </div>

              <div class="ui-g-12 ui-md-12 ui-fluid">
                <label style="font-weight: bold;">Documentação</label>
              </div>

              <div class="ui-g-12">
                <p-table [value]="checksListDoc" [responsive]="true" #tabela>
                  <ng-template pTemplate="header">
                    <tr>
                      <th class="col-descricao">Descrição</th>
                      <th class="col-acao"></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-entidade let-rowIndex="rowIndex">
                    <tr>
                      <td>{{entidade.descricao}}</td>
                      <td class="col-acao-header">
                        <p-checkbox (click)="SelecionarDocumento(entidade)" value="{{entidade.id}}"
                          [(ngModel)]="entidade.ativo" name="{{entidade.id}}" binary="true"></p-checkbox>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="6">
                        Nenhum registro encontrado
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>

            </div>
            <a title="Documentação completa" tooltipPosition="bottom" (click)="confirmarDocumento(selecionado)">
              <i class="fa fa-check botao-diligencia"></i>
            </a>
            <a title="Documentação Pendente" tooltipPosition="bottom" (click)="pendenciaDocumento(selecionado)">
              <i class="fa fa-times botao-excluir-check"></i>
            </a>

          </div>
        </div>
      </form>
    </p-scrollPanel>
  </div>
</p-dialog>
<!-- Fim modal checklist conferencia processo -->

<!-- COORDENADOR -->
<!-- Inicio modal diligência processo -->
<p-dialog modal="modal" [style]="{width: '600px', height: '700px'}" [responsive]="true" [(visible)]="visibleDiligencia"
  header="Diligência Processo {{selecionado.numeroProcesso}}">

  <div class="ui-g-12">
    <p-scrollPanel [style]="{width: '100%', height: '500px'}">

      <form autocomplete="off">

        <div class="card bg-light mb-3">
          <div class="card-body">
            <div class="row">

              <div class="ui-g-12 ui-md-12 ui-fluid">
                <div class="form-group">
                  <label for="diligencia">Diligência</label>
                  <br />
                  <p-dropdown [options]="diligencias" [filter]="false" placeholder="Selecione" name="diligencia"
                    [(ngModel)]="selecionado.diligencia"></p-dropdown>
                </div>
              </div>

              <div class="ui-g-12 ui-md-12 ui-fluid">
                <div class="form-group">
                  <label for="parecerJuridico">Parecer</label>
                  <br />
                  <p-dropdown [options]="pareceresJuridico" [filter]="false" placeholder="Selecione" name="parecerJuridico"
                    [(ngModel)]="selecionado.parecerJuridicoDiligencia"></p-dropdown>
                </div>
              </div>

              <div class="ui-g-12 ui-md-12 ui-fluid" *ngIf="selecionado.parecerJuridicoDiligencia === 'OUTROS'">
                <div class="form-group">
                  <label for="observacaoDiligencia">Observação</label>
                  <br />
                  <textarea pInputTextarea name="observacaoDiligencia" [(ngModel)]="selecionado.observacaoDiligencia"
                    class="form-control"></textarea>
                </div>
              </div>

              <div class="ui-g-12 ui-md-3 ui-fluid">
                <div class="form-group" style="text-align: center;">
                  <label for="redistribuir">Redistribuir</label>
                  <br />
                  <p-checkbox (click)="listarFuncionarioJuridico()" [(ngModel)]="redistribuir" name="redistribuir"
                    class="form-control" binary="true"></p-checkbox>
                </div>
              </div>

              <div class="ui-g-12 ui-md-9 ui-fluid">
                <div class="form-group">
                  <label for="funcionario">Funcionário</label>
                  <br />
                  <p-dropdown [options]="funcionarios" [filter]="false" placeholder="Selecione" name="funcionario"
                    [(ngModel)]="selecionado.funcionario.id"></p-dropdown>
                </div>
              </div>

            </div>
            <div class="ui-g-12 ui-md-12 ui-fluid">
              <button pButton type="button" label="Confirmar"
              (click)="diligenciaProcesso(selecionado)"></button>
            </div>
          </div>
        </div>
      </form>
    </p-scrollPanel>
  </div>
</p-dialog>
<!-- Fim modal diligência processo -->

<!-- COORDENADOR -->
<!-- Inicio modal análise processo -->
<p-dialog modal="modal" [style]="{width: '1200px', height: '400px'}" [responsive]="true"
  [(visible)]="visibleDialogAnalise" header="Análise de processos">

  <div class="ui-g-12">
    <p-scrollPanel [style]="{width: '100%', height: '350px'}">

      <div class="card mb-3">
        <div id="accordion">
          <div class="card-header">

            <div style="font-weight: bold;">
              <label class="texto-alta-criticidade"><i class="fa fa-pencil-square-o  botao-acao"></i>Processo aguardando
                análise</label>
            </div>

          </div>
          <div class="card-body">
            <div id="collapseAltaCriticidade" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-text">
                <div class="list-group" *ngFor="let entidade of documentosAnalise">
                  <a class="list-group-item list-group-item-action">
                    <u><b>Processo</b> {{entidade.numeroProcesso}}</u> <br />
                    <b>{{entidade.numeroDocumento}} - </b>{{entidade.descricaoAssunto}}

                    <span style="float: right; padding: 2px;">
                      <a title="Aprovar" tooltipPosition="bottom" (click)="aprovarProcesso(entidade)">
                        <i class="fa fa-check botao-check"></i>
                      </a>
                      <a title="Redistribuir Processo" tooltipPosition="bottom"
                        (click)="redistribuicaofuncionario(entidade)">
                        <i class="fa fa-user botao-acao"></i>
                      </a>
                      <a title="Reprovar" tooltipPosition="bottom" (click)="reprovarProcesso(entidade)">
                        <i class="fa fa-times botao-excluir"></i>
                      </a>
                    </span>
                    <br />
                    <br />
                    <strong>Parecer Advogado: {{entidade.funcionario?.nome}}</strong><br />
                    <span>{{entidade.parecerJuridico}}</span><br />
                    <span>{{entidade.observacao}}</span>

                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </p-scrollPanel>
  </div>
</p-dialog>
<!-- Fim modal análise processo -->

<div class="alertas-home">

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

  <div class="container-fluid">
    <div class="row">
      <div class="ui-g-12">

        <div class="content-header"><i class="fa fa-bar-chart"></i>
          Gestão e Acompanhamento de Documentação Jurídica <div class="versao">[1.0]</div>
        </div>

        <form autocomplete="off" (ngSubmit)="pesquisar()">

          <div class="card bg-light mb-3">
            <div class="card-body">
              <div class="row">

                <div class="ui-g-12 ui-md-6 ui-fluid">
                  <div class="form-group">
                    <label for="info_consulta">Nº Documento</label>
                    <input pInputText type="text" class="form-control" name="numeroDocumento"
                      [(ngModel)]="filtro.numeroDocumento" maxlength="30">
                  </div>
                </div>

                <div class="ui-g-12 ui-md-6 ui-fluid">
                  <div class="form-group">
                    <label for="info_consulta">Nº Processo</label>
                    <input pInputText type="text" class="form-control" name="numeroProcesso"
                      [(ngModel)]="filtro.numeroProcesso" maxlength="30">
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button class="botao" type="submit" pButton icon="fa fa-search" label="Consultar"></button>
              <button type="button" pButton class="ui-button-danger" icon="fa fa-eraser" label="Limpar"
                (click)="limparFiltro()"></button>
            </div>
          </div>
        </form>

        <div class="card mb-3">
          <div id="accordion">
            <div class="card-header">
              <i class="fa fa-bolt alta-criticidade" aria-hidden="true"></i>
              <label class="texto-alta-criticidade">Processo de altissíma prioridade <span
                  class="badge badge-danger">{{contAltissima}}</span></label>
              <button class="btn btn-primary btn-sm float-right" data-toggle="collapse"
                data-target="#collapseAltaCriticidade" aria-expanded="true" aria-controls="collapseAltaCriticidade">
                <i class="fa fa-bell" aria-hidden="true"></i><strong>{{contAltissima}}</strong> novos alertas
              </button>
            </div>
            <div class="card-body">
              <div id="collapseAltaCriticidade" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-text">
                  <div class="list-group" *ngFor="let entidade of selecionados">
                    <a *ngIf="entidade.prioridade === 'ALTISSIMA'"
                      routerLink="/asjur/documento-juridico/{{entidade.id}}"
                      class="list-group-item list-group-item-action">
                      <b>{{entidade.status}}</b><br />
                      <u><b>Processo</b></u> {{entidade.numeroProcesso}} <br />
                      <b>{{entidade.numeroDocumento}} - </b>{{entidade.descricaoAssunto}} <b> -
                        {{entidade.funcionario ? entidade.funcionario.nome : 'Aguardando distribuição'}} </b>
                      <span *ngIf="entidade.prazo >= 0" class="badge badge-success alerta">Restam
                        {{entidade.prazo}} dias</span>
                      <span *ngIf="entidade.prazo < 0" class="badge badge-danger alerta">Restam
                        {{entidade.prazo}} dias</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3">
          <div id="accordion">
            <div class="card-header">
              <i class="fa fa-exclamation-circle nedia-criticidade" aria-hidden="true"></i>
              <label class="texto-media-criticidade">Processo de alta prioridade <span
                  class="badge badge-warning">{{contAlta}}</span></label>
              <button class="btn btn-primary btn-sm float-right" data-toggle="collapse"
                data-target="#collapseMediaCriticidade" aria-expanded="true" aria-controls="collapseMediaCriticidade">
                <i class="fa fa-bell" aria-hidden="true"></i><strong>{{contAlta}}</strong> novos alertas
              </button>
            </div>
            <div class="card-body">
              <div id="collapseMediaCriticidade" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-text">
                  <div class="list-group" *ngFor="let entidade of selecionados">
                    <a *ngIf="entidade.prioridade === 'ALTA'" routerLink="/asjur/documento-juridico/{{entidade.id}}"
                      class="list-group-item list-group-item-action">
                      <b>{{entidade.status}}</b><br />
                      <u><b>Processo</b> {{entidade.numeroProcesso}}</u> <br />
                      <b>{{entidade.numeroDocumento}} - </b>{{entidade.descricaoAssunto}} <b> -
                        {{entidade.funcionario ? entidade.funcionario.nome : 'Aguardando distribuição'}} </b>
                      <span *ngIf="entidade.prazo >= 0" class="badge badge-success alerta">Restam
                        {{entidade.prazo}} dias</span>
                      <span *ngIf="entidade.prazo < 0" class="badge badge-danger alerta">Restam
                        {{entidade.prazo}} dias</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3">
          <div id="accordion">
            <div class="card-header">
              <i class="fa fa-exclamation-triangle baixa-criticidade" aria-hidden="true"></i>
              <label class="texto-baixa-criticidade">Processo de média prioridade <span
                  class="badge badge-info">{{contMedia}}</span></label>
              <button class="btn btn-primary btn-sm float-right" data-toggle="collapse"
                data-target="#collapseBaixaCriticidade" aria-expanded="true" aria-controls="collapseBaixaCriticidade">
                <i class="fa fa-bell" aria-hidden="true"></i><strong>{{contMedia}}</strong> novos alertas
              </button>
            </div>
            <div class="card-body">
              <div id="collapseBaixaCriticidade" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-text">
                  <div class="list-group" *ngFor="let entidade of selecionados">
                    <a *ngIf="entidade.prioridade === 'MEDIA'" routerLink="/asjur/documento-juridico/{{entidade.id}}"
                      class="list-group-item list-group-item-action">
                      <b>{{entidade.status}}</b><br />
                      <u><b>Processo</b> {{entidade.numeroProcesso}}</u> <br />
                      <b>{{entidade.numeroDocumento}} - </b>{{entidade.descricaoAssunto}} <b> -
                        {{entidade.funcionario ? entidade.funcionario.nome : 'Aguardando distribuição'}} </b>
                      <span *ngIf="entidade.prazo >= 0" class="badge badge-success alerta">Restam
                        {{entidade.prazo}} dias</span>
                      <span *ngIf="entidade.prazo < 0" class="badge badge-danger alerta">Restam
                        {{entidade.prazo}} dias</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3">
          <div id="accordion">
            <div class="card-header">
              <i class="fa fa-exclamation sem-criticidade" aria-hidden="true"></i>
              <label class="texto-sem-criticidade">Processo de baixa prioridade <span
                  class="badge badge-success">{{contBaixa}}</span></label>
              <button class="btn btn-primary btn-sm float-right" data-toggle="collapse"
                data-target="#collapseSemCriticidade" aria-expanded="true" aria-controls="collapseSemCriticidade">
                <i class="fa fa-bell" aria-hidden="true"></i><strong>{{contBaixa}}</strong> novos alertas
              </button>
            </div>
            <div class="card-body">
              <div id="collapseSemCriticidade" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-text">
                  <div class="list-group" *ngFor="let entidade of selecionados">
                    <a *ngIf="entidade.prioridade === 'BAIXA'" routerLink="/asjur/documento-juridico/{{entidade.id}}"
                      class="list-group-item list-group-item-action">
                      <b>{{entidade.status}}</b><br />
                      <u><b>Processo</b> {{entidade.numeroProcesso}}</u> <br />
                      <b>{{entidade.numeroDocumento}} - </b>{{entidade.descricaoAssunto}} <b> -
                        {{entidade.funcionario ? entidade.funcionario.nome : 'Aguardando distribuição'}} </b>
                      <span *ngIf="entidade.prazo >= 0" class="badge badge-success alerta">Restam
                        {{entidade.prazo}} dias</span>
                      <span *ngIf="entidade.prazo < 0" class="badge badge-danger alerta">Restam
                        {{entidade.prazo}} dias</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
