.col-tipo {
  width: 20%;
  text-align: center;
}

.col-documento {
  width: 20%;
  text-align: center;
}

.col-origem {
width: 25%;
text-align: center;
}

.col-interessado {
width: 20%;
text-align: center;
}

.col-data {
  width: 15%;
  text-align: center;
  }

.col-acao {
  width: 10%;
  text-align: center;
}


