<a
  title="Editar"
  tooltipPosition="bottom"
  (click)="existeItemSelecionado(codigoEntidade)"
  *ngIf="permissaoEditar"><i class="fa fa-edit botao-acao"></i>
</a>

<a
  title="Excluir"
  tooltipPosition="bottom"
  (click)="excluirEntidade(codigoEntidade)"
  *ngIf="permissaoExcluir"><i class="fa fa-trash botao-excluir"></i>
</a>
